/*==================================
=            BLOG COMMON           =
==================================*/

#header-blog-desktop{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 20;
	transition: all 0.25s ease;
	background-color: #FFF;
	.wrapper{
		height: 70px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		@include styleGrid1;
		.logo{
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			margin-right: 50px;
			text-decoration: none;
			img{
				width: 150px;
			}
			.bdg{
				margin-left: 5px;
				background-color: rgba($colorMain_1_strong, 0.2);
				padding: 0px 7px 0px 7px;
				border-radius: 2px;
				span{
					@include styleParagraphBig;
					font-family: $font_1_semibold;
					color: $colorMain_1_strong;
				}
			}
		}
		.container-link{
			flex: 1;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			>a{
				cursor: pointer;
				position: relative;
				margin-right: 50px;
				text-decoration: none;
				@include styleParagraphSmall;
				color: $colorMain_3_strong;
				&:after{
					opacity: 0;
					content: '';
					position: absolute;
					z-index: 1;
					left: 0px;
					bottom: -10px;
					width: 100%;
					height: 3px;
					transition: all 0.25s ease;
					background-color: $colorMain_1_strong;
				}
				&:hover {
					&:after {
						opacity: 1;
					}
				}
			}
			.search{
				position: relative;
				.container-input{
					position: relative;
					input{
						position: relative;
						z-index: 2;
						width: 150px;
						outline: none;
						border: none;
						@include styleParagraphSmall;
						color: $colorMain_3_strong;
						background-color: transparent;
						
						&::placeholder{
							@include styleParagraphSmall;
							color: $colorMain_3_strong;
						}

						&:after{
							content: '';
							position: absolute;
							bottom: -15px;
							left: 0px;
							height: 1px;
							width: 100%;
							background-color: rgba($colorMain_5, 0.2);
							opacity: 0;
							transition: all 0.25s ease;
						}
						&:focus{
							&:after{
								opacity: 1;
							}
						}
					}
					img{
						cursor: pointer;
						position: absolute;
						z-index: 1;
						right: 0px;
						top: 50%;
						transform: translateY(-50%) translateX(-60px);
						width: 14px;
						background-color: #FFF;
						transition: transform .25s ease;
						&.active {
							transform: translateY(-50%) translateX(0);
						}
					}
				}
				.dropdown{
					display: none;
					padding: 25px;
					position: absolute;
					background-color: #FFF;
					z-index: 10;
					top: 37px;
					left: 0px;
					max-height: 170px;
					overflow: auto;
					width: 100%;
					box-shadow: 0 2px 50px 0 rgba(0,0,0,0.09);
					a{
						display: block;
						text-decoration: none;
						@include styleParagraphSmall;
						color: $colorMain_3_strong;
						&:hover{
							color: $colorMain_1_strong;
						}
						&:not(:last-child){

						}
						margin-bottom: 15px;
					}
					&.show{
						display: block;
					}
				}
			}
		}
		.btn{
			self-position: self-end;
			@include styleButtonBig_2;
			padding: 9px 30px 7px 30px;
		}
	}
}

#header-blog-mobile {
	position: relative;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 20;
	transition: all 0.25s ease;
	background-color: #FFF;
	.head {
		position: relative;
		z-index: 2;
		height: 75px;
		background-color: transparent;
		transition: all .25s ease;
		&:before {
			content: " ";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background-color: #D8D8D8;

			transition: opacity .25s ease;
			opacity: 0;
		}
		.wrapper {
			width: 100%;
			height: 100%;
			padding: 0 15px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.logo{
			display: flex;
			align-items: center;
			text-decoration: none;
			img{
				height: 25px;
			}
			.bdg{
				margin-left: 5px;
				background-color: rgba($colorMain_1_strong, 0.2);
				padding: 0px 7px 0px 7px;
				border-radius: 2px;
				span{
					@include styleParagraphBig;
					font-family: $font_1_semibold;
					color: $colorMain_1_strong;
				}
			}
		}
		.container-action {
			display: flex;
			align-items: center;
			.burger {
				width: 24px;
				height: 22px;
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				.line {
					display: block;
					width: 100%;
					height: 3px;
					background-color: #000;
				}
			}
		}
	}
	.container-link {
		position: absolute;
		z-index: 1;
		width: 100%;
		top: 75px;
		left: 0;
		height: calc(100vh - 75px);
		background-color: #FFF;

		transform: translateY(calc(-100% - 75px));
		transition: transform .25s ease;

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
		}
		.search {
			position: relative;
			width: 100%;
			height: 75px;
			display: flex;
			align-items: center;

			&:after {
				content: " ";
				position: absolute;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #D8D8D8;
			}
			&:after {
				bottom: 0;
			}
			input {
				padding: 15px 0px 15px 60px;
				outline: none;
				border: none;
				@include styleParagraphBig;
				color: #181818;
			}
			img {
				position: absolute;
				width: 20px;
				height: 20px;
				left: 15px;
				top: 50%;
				transform: translateY(-50%);
				filter: grayscale(.5);
			}
			.dropdown {
				display: none;
				position: absolute;
				width: 100%;
				height: calc(100vh - 150px);
				top: 100%;
				&.show {
					display: block;
				}
				a {
					@include styleParagraphBig;
					color: $colorMain_3_strong;
				}
			}
		}
		a {
			&:not(:last-child) {
				margin-top: 25px;
				padding: 0 15px;
				display: inline-block;
				width: 100%;
				text-decoration: none;
				@include styleParagraphBig;
				color: #181818;
				font-family: $font_1_semibold;
			}
			&.btn {
				margin-top: 50px;
				self-position: self-end;
				@include styleButtonBig_2;
				padding: 9px 30px 7px 30px;
			}
		}
		.container-btn {
			width: 100%;
			display: flex;
			justify-content: center;
		}
	}

	&.scroll, &.open {
		.head {
			background-color: #FFF;
			&:before {
				opacity: 1;
			}
		}
	}

	&.open {
		.container-link {
			transform: translateY(0);
		}
	}
}

@media screen and (max-width: $breakPoint_tablet){
	#header-blog-desktop{
		display: none;
	}
	#header-blog-mobile{
		display: block;
	}
}	


/*======================================
=            END BLOG COMMON           =
======================================*/