@import 'common.scss';
@import 'blog_common.scss';

/*==================================
=            PAGE AUTHOR           =
===================================*/


#section-blog{
	position: relative;
	padding-bottom: 60px;
	.wrapper{
		@include styleGrid1;
		padding-top: 145px;
	}

	.container-text{
		max-width: 800px;
		.container-path{
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			a{
				text-decoration: none;
				@include styleParagraphTiny;
				color: $colorMain_5;
			}
			svg{
				margin: 0px 15px 0px 15px;
				width: 4px;
				stroke: $colorMain_5;
			}
		}
		.container-infos{
			margin-top: 25px;
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
			.pp{
				height: 80px;
				width: 80px;
				border-radius: 40px;
				position: relative;
				overflow: hidden;
				margin-right: 32px;
				img{
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
			.text{
				flex: 1;
				h1{
					@include styleH1_light;
					em{
						@include styleH1_bold;
					}
				}
				p{
					@include styleParagraphBig;
					color: $colorMain_5;
				}
			}
		}
	}

	.container-blog{
		margin-top: 50px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		.el-blog{
			text-decoration: none;
			display: block;
			margin-bottom: 120px;
			width: calc((100% / 3) - 18px);
			.cover{
				height: 270px;
				position: relative;
				width: 100%;
				.bdg{
					position: absolute;
					z-index: 1;
					left: 0px;
					top: 0px;
					padding: 10px 30px 10px 30px;
					background-color: #FFF;
					span{
						@include styleParagraphMedium;
						font-family: $font_1_semibold;
						color: $colorMain_3_strong;
					}
				}
				img{
					position: absolute;
					left: 0px;
					top: 0px;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				.btn{
					position: absolute;
					z-index: 1;
					right: 0px;
					bottom: 0px;
					height: 50px;	
					width: 50px;
					background-color: #FFF;
					svg{
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 9px;
						stroke: $colorMain_1_strong;
					}
				}
			}
			.text{
				padding-top: 18px;
				.infos{
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					.name,
					.date{
						@include styleParagraphSmall;
						color: $colorMain_5;
					}
					.sep{
						margin: 0px 5px 0px 5px;
						width: 3px;
						height: 1px;
						background-color: $colorMain_5;
					}
				}

				h3{
					margin-top: 14px;
					@include styleH3_light;
					color: $colorMain_3_strong;
				}
				p{
					margin-top: 16px;
					@include styleParagraphSmall;
					color: $colorMain_5;
				}
			}
		}
	}

	.nav-index{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		.nav-prev,
		.nav-next{
			text-decoration: none;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			svg{
				width: 7px;
				stroke: $colorMain_5;
			}
			.text{
				@include styleParagraphMedium;
				color: $colorMain_5;
			}
		}
		.nav-prev{
			svg{
				transform: rotate(180deg);
				margin-right: 16px;
			}
		}
		.nav-next{
			svg{
				margin-left: 16px;
			}
		}
		ul{
			margin: 0px 16px 0px 16px;
			list-style: none;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			li{
				height: 25px;
				width: 25px;
				border-radius: 25px;
				
				position: relative;
				a{
					text-align: center;
					text-decoration: none;
					position: absolute;
					top: 50%;
					left: 0%;
					width: 100%;
					transform: translateY(-50%);
					@include styleParagraphMedium;
					color: $colorMain_5;
				}
				&.active{
					background-color: $colorMain_4_strong;
					a{
						color: #000;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $breakPoint_tablet){
	main{
		padding-top: 75px;
	}
	#section-blog{
		.wrapper{
			padding-top: 40px;
		}
		.container-blog{
			.el-blog{
				width: 100%;
				&:not(last-child){
					margin-bottom: 60px;
				}
			}
		}
	}
}

/*======================================
=            END PAGE AUTHOR           =
=======================================*/