@import 'common.scss';

/*===================================
=            PAGE CONTACT           =
===================================*/

#section-contact{
	position: relative;
	
	.wrapper{
		position: relative;
		min-height: 100vh;
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	.header{
		position: absolute;
		z-index: 2;
		top: 35px;
		left: 0px;
		width: 100%;
		height: 25px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.logo{
			cursor: pointer;
			text-decoration: none;
			display: block;
			img{
				height: 25px;
			}
		}
		.close{
			cursor: pointer;
			text-decoration: none;
			display: block;
			img{
				height: 12px;
			}
		}
	}
	.container-text{
		width: 700px;
		padding-bottom: 100px;

		.container-cover{
			padding-top: 130px;
			position: relative;
			padding-bottom: 40px;
			width: 100%;
			&:before{
				content: '';
				background-color: $colorMain_4_strong;
				position: absolute;
				right: 0px;
				top: 0px;
				height: 100%;
				width: 100%;
				width: calc(100% + (100vw - (#{$grid_desktop_1} / 2)));
			}
			h1{
				position: relative;
				z-index: 1;
				@include styleH1_light;
				span{
					@include styleH1_bold;
				}
			}
			p{
				position: relative;
				z-index: 1;
				margin-top: 100px;
				@include styleParagraphBig;
				color: $colorMain_5;
				a{
					color: $colorMain_3_strong;
					text-decoration: none;
				}
			}
			img{
				position: absolute;
				width: 255px;
				right: 10px;
				bottom: 0px;
			}
		}
		.container-infos{
			padding-top: 55px;
			padding-right: 100px;
			> p{
				@include styleParagraphMedium;
				color: $colorMain_3_strong;
			}
			ul{
				margin-top: 32px;
				list-style: none;
				li{
					padding-left: 40px;
					position: relative;
					&:not(:last-child){
						margin-bottom: 17px;
					}
					&:before{
						content: '';
						position: absolute;
						left: 0px;
						top: 50%;
						transform: translateY(-50%);
						width: 20px;
						height: 2px;
						background-color: $colorMain_1_strong;
					}
					p{
						@include styleParagraphMedium;
						color: $colorMain_5;
					}
				}
			}

			.container-logo{
				margin-top: 100px;
				p{
					@include styleParagraphBig;
					margin-bottom: 50px;
					span{
						font-family: $font_1_semibold;
					}
				}
				.list-logo{
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					justify-content: space-between;
					img{
						max-width: 90px;
						max-height: 30px;
					}
				}
			}
		}
		
	}
	.container-form{
		position: relative;
		flex: 1;
		padding: 130px 0px 265px 70px;
		&:before{
			content: '';
			background-color: $colorMain_3_strong;
			position: absolute;
			left: 0px;
			top: 0px;
			height: 100%;
			width: 100%;
			width: calc(100% + (100vw - (#{$grid_desktop_1} / 2)));
		}
		.head{
			position: relative;
			z-index: 1;
			h2{
				@include styleH2_light;
				color: #FFF;
				span{
					@include styleH2_bold;
				}
			}
			p{
				margin-top: 16px;
				@include styleParagraphMedium;
				color: rgba(255, 255, 255, 0.8);
			}
		}
		form{
			position: relative;
			z-index: 1;
			margin-top: 50px;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			.label{
				width: calc(50% - 24px);
				margin-bottom: 45px;
				position: relative;
				height: 35px;
				input{
					cursor: pointer;
					outline: none;
					position: absolute;
					z-index: 1;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					background-color: transparent;
					border: none;
					border-bottom: 1px solid $colorMain_5;
					@include styleParagraphSmall;
					color: #FFF;
					transition: all 0.25s ease;
				}
				.name{
					@include styleParagraphSmall;
					color: $colorMain_5;
					position: absolute;
					top: 0px;
					left: 0px;
					transition: all 0.25s ease;
				}
				&.label-text{
					&.focus,
					&.fill{
						.name{
							transform: translateY(-100%) scale(0.8) translateX(-10%);
						}
					}
				}
				&.label-dropdown{
					.arrow{
						width: 8px;
						position: absolute;
						top: 50%;
						right: 0px;
						transform: translateY(-50%);
					}
					.container-input{
						width: 100%;
						display: flex;
						flex-flow: row wrap;
						align-items: center;
					}
					.dropdown{
						display: none;
						overflow: auto;
						position: absolute;
						z-index: 2;
						left: 0px;
						width: 100%;
						top: 100%;
						max-height: 170px;
						padding: 24px;
						background-color: #FFF;
						box-shadow: 0 2px 50px 0 rgba(0,0,0,0.09);
						border-radius: 2px;
						.el{
							cursor: pointer;
							@include styleParagraphSmall;
							transition: all 0.25s ease;
							&:not(:last-child){
								margin-bottom: 15px;
							}
							&:hover{
								color: $colorMain_1_strong;
							}
						}
					}

					&.fill{
						.name{
							transform: translateY(-100%) scale(0.8) translateX(-10%);
						}
					}
					&.focus{
						.dropdown{
							display: block;
						}
					}
				}

				&.error{
					.name{
						color: $colorMain_1_strong;
					}
					input{
						border-color: $colorMain_1_strong;
					}
				}
			}

			button{
				border: none;
				width: 100%;
				text-align: center;
				@include styleButtonBig_2;
				.btn-text{
					width: 100%;
					text-align: center;
				}
			}
		}
	}
	
}

/*=======================================
=            END PAGE CONTACT           =
=======================================*/