/*=====================================
=            HEADER DESKTOP           =
=====================================*/
#header-desktop{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 20;
	transition: all 0.25s ease;
	background-color: #FFF;
	.head{
		background-color: #FFF;
		position: relative;
		z-index: 2;
		transition: all 0.25s ease;
		.wrapper{
			position: relative;
			@include styleGrid1;
			height: 90px;
			padding-left: 200px;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;
			&:after{
				content: '';
				position: absolute;
				left: 0px;
				bottom: 0px;
				width: 100%;
				height: 1px;
				background-color: $colorMain_4_medium;
				opacity: 0;
				transition: all 0.25s ease;
			}
		}
		.logo{
			position: absolute;
			left: 0px;
			top: 50%;
			transform: translateY(calc(-50% + 3px));
			
			img{
				height: 35px;
			}
		}
		.container-link{
			height: 100%;
			list-style: none;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			padding-top: 5px;
			li{
				position: relative;
				height: 100%;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				&:not(:last-child){
					margin-right: 45px;
				}
				a{
					text-decoration: none;
					cursor: pointer;
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					span{
						@include styleParagraphSmall;
						font-family: $font_1_semibold;
						color: #000;
						transition: all 0.25s ease;
					}
					img{
						width: 7px;
						margin-left: 10px;
					}
				}
				&:after{
					opacity: 0;
					content: '';
					position: absolute;
					z-index: 1;
					left: 0px;
					bottom: 0px;
					width: 100%;
					height: 3px;
					transition: all 0.25s ease;
					background-color: $colorMain_1_strong;
				}
				&.active,
				&:hover{
					&:after{
						opacity: 1;
					}
					a{
						span{
							
						}
					}
				}
			}
		}
		.container-action{
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			.tel{
				text-decoration: none;
				margin-right: 25px;
				@include styleParagraphSmall;
				color: #000;
				font-family: $font_1_semibold;
			}
			.demo{
				text-decoration: none;
				@include styleButtonSmall_1;
			}
		}
	}
	&.scroll{
		.head{
			background-color: #FFF;
			
			.wrapper{
				&:after{
					opacity: 1;
				}
			}
		}

	}
	@for $i from 1 to 10 {
  		&.open-dropdown-#{$i} {
  			.head{
				box-shadow: none;
				background-color: #FFF;
				.wrapper{
					&:after{
						opacity: 1;
					}
				}
			}	
			.dropdown-#{$i} {
				transform: translateY(0px);
				box-shadow: 0 11px 27px 0 rgba(0,0,0,0.15);
			}
  		}
  	}
	.dropdown{
		position: absolute;
		left: 0px;
		top: 90px;
		width: 100%;
		background-color: #FFF;
		padding-top: 50px;
		padding-bottom: 60px;
		transition: all 700ms cubic-bezier(0.230, 1.000, 0.320, 1.000), opacity 500ms cubic-bezier(0.000, 0.965, 0.805, 0.995);
		transform: translateY(calc(-100% - 90px));
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		   transform: translateY(-200%);
		}
		.wrapper{
			@include styleGrid1;
		}
		ul{
			list-style: none;
			display: flex;
			flex-flow: row wrap;
			li{
				width: calc(100% / 4);
				&:nth-child(-1n+3){
					margin-bottom: 50px;
				}
				&:not(:nth-child(3n)){
					margin-right: 12.5%;
				}
				a{
					text-decoration: none;
					display: flex;
					flex-flow: row wrap;
					align-items: flex-start;
					.icn{
						width: 33px;
						margin-right: 40px;
						img{
							width: 100%;
						}
					}
					.text{
						flex: 1;
						h4{
							@include styleParagraphBig;
							font-family: $font_1_semibold;
							margin-bottom: 15px;
							color: $colorMain_3_strong;
							transition: all 0.25s ease;
						}
						p{
							@include styleParagraphSmall;
							color: $colorMain_5;
						}
					}

					&:hover{
						.text{
							h4{
								color: $colorMain_1_strong;
							}
						}
					}
				}
			}
		}
	}
}

/*=========================================
=            END HEADER DESKTOP           =
=========================================*/

/*=====================================
=            HEADER MOBILE           =
=====================================*/
#header-mobile{
	display: none;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 20;
	transition: transform 1s cubic-bezier(.23, 1, .32, 1);
	.head{
		transition: all 0.25s ease;
		position: relative;
		z-index: 1;
		height: 75px;
		background-color: #FFF;
		.wrapper{
			@include styleGrid1;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			height: 100%;
			.logo{
				
				text-decoration: none;
				display: block;
				img{
					height: 30px;
				}
			}
			.container-action{
				cursor: pointer;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				.container-burger{
					position: relative;
					height: 13px;
					width: 21px;
					.line{
						position: absolute;
						width: 100%;
						height: 3px;
						background-color: $colorMain_3_strong;
						transition: all 250ms cubic-bezier(0.000, 1.100, 0.735, 0.920);
						&:nth-child(1){
							top: 0px;
							left: 0px;
						}
						&:nth-child(2){
							bottom: 0px;
							left: 0px;
						}
					}
				}
			}
		}	
	}
	.container-link{
		background-color: #FFF;
		position: absolute;
		top: 100%;
		width: 100%;
		box-shadow: 0 3px 22px 0 rgba(56,70,122,0.15);
		transform: translateY(-100%);
		transition: all 300ms cubic-bezier(0.000, 0.965, 0.805, 0.995);
		padding: 60px 0px 150px 0px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		height: 100vh;
		.wrapper{
			@include styleGrid1;
			.list-link{
				position: relative;
				.link{
					cursor: pointer;
					margin-bottom: 35px;
					&:last-child{
						margin-bottom: 0px;
					}
					a{
						display: flex;
						flex-flow: row wrap;
						align-items: center;
						text-decoration: none;
						span{
							@include styleParagraphBig;
							font-family: $font_1_semibold;
							color: $colorMain_3_strong;
						}
						.arrow{
							width: 9px;
							margin-left: 14px;
							transition: all 0.25s ease;
						}
					}
					.container-el{
						display: none;
						margin-top: 30px;
						.el{
							display: block;
							text-decoration: none;
							display: flex;
							flex-flow: row wrap;
							justify-content: space-between;
							align-items: flex-start;
							transition: all 0.25s ease;
							margin-bottom: 30px;
							&:last-child{
								margin-bottom: 0px;
							}
							.icn{
								width: 30px;
								margin-right: 45px;
							}
							.text{
								flex: 1;
								h3{
									margin-bottom: 8px;
									@include styleParagraphBig;
									font-family: $font_1_semibold;
									color: $colorMain_3_strong;
								}
								p{
									@include styleParagraphSmall;
									color: $colorMain_5;
								}
							}
						}
					}
					&.active{
						.arrow{
							transform: rotate(180deg);
						}
						.container-el{
							display: block;
						}
					}
				}
			}
		}
		.container-action{
			position: relative;
			margin-top: 70px;
			text-align: center;
			.tel{
				display: block;
				width: 100%;
				text-decoration: none;
				span{
					@include styleParagraphBig;
					font-family: $font_1_semibold;
					color: $colorMain_3_strong;
				}
			}
			.signup{
				margin-top: 10px;
				
				@include styleButtonSmall_1;
				display: inline-flex;
			}
			
			
		}
	}
	&.open{
		.head{
			background-color: #FFF;
			box-shadow: 0 3px 22px 0 rgba(56,70,122,0) !important;
			.container-text .text{
				&:nth-child(1){
					opacity: 0;
				}
				&:nth-child(2){
					opacity: 1;
				}
			}
		}
		.head .container-burger .line{
			&:nth-child(1){
				transform: translateY(5px) rotate(45deg);
			}
			&:nth-child(2){
				transform: translateY(-5px) rotate(-45deg);
			}
		}
		.container-link{
			transform: translateY(0px);
		}
	}
	&.scroll{
		.head{
			background-color: #FFF;
			box-shadow: 0 3px 22px 0 rgba(56,70,122,0.15);
		}
	}
}
/*========================================
=            END HEADER MOBILE           =
=========================================*/

@media screen and (max-width: $breakPoint_tablet){
	#header-desktop{
		display: none;
	}
	#header-mobile{
		display: block;
	}
}	