@import 'common.scss';

/*================================
=            PAGE HOME           =
================================*/
main{
	padding-top: 90px;
}
#section-cover{
	position: relative;
	padding-top: 87px;
	
	&:before{
		content: '';
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: calc((#{$grid_desktop_1} + ((100vw - #{$grid_desktop_1}) / 2)) - 400px);
		background-color: $colorMain_1_strong;
	}
	.wrapper{
		padding-bottom: 120px;
		position: relative;
		z-index: 1;
		@include styleGrid1;
		overflow: hidden;
	}
	
	.container-text{
		width: 420px;
		h1{
			@include styleH1_light;
			em{
				@include styleH1_bold;
			}
			color: #FFF;
		}
		.sep{
			margin: 40px 0px 40px 0px;
			width: 60px;
			height: 4px;
			background-color: $colorMain_2_strong;
		}
		p{
			@include styleParagraphBig;
			color: #FFF;
		}
		.container-btn{
			margin-top: 60px;
			a{
				@include styleButtonBig_1;
			}
		}
	}
	.container-video{
		position: absolute;
		right: 0px;
		bottom: 0px;
		height: 565px;
		width: 630px;
		overflow: hidden;
		.obj-1{
			position: absolute;
			z-index: 1;
			bottom: -1px;
			right: 0px;
			width: 100%;
		}
		iframe{
			position: absolute;
			top: 50%;
			left: 50%;
			height: 100%;
			width: 200%;
			transform: translate(-50%, -50%);
		}

		transform-origin: bottom center;
		transform: translateY(20%);
		clip-path: polygon(10% 72%, 90% 72%, 90% 72%, 10% 72%);
		transition: all 1500ms cubic-bezier(0.065, 0.190, 0.000, 1.000);
		&.show{
			transform: translate(0);
			clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
		}
	}

	/* ANIM */
	&:before{
		transform: translateX(-100%);
		transition: all 1500ms cubic-bezier(0.070, 0.965, 0.560, 1.000);
	}
	&.reach{
		&:before{
			transform: translateX(0%);
		}
	}
}
#section-logos{
	position: relative;
	padding: 90px 0px 120px 0px;
	background-color: $colorMain_4_low;
	.obj-1{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100px;
	}
	.obj-2{
		position: absolute;
		left: 99px;
		top: 0px;
		width: 100px;
	}
	.obj-4{
		position: absolute;
		right: 0px;
		bottom: -80px;
		width: 100px;
	}
	.obj-3{
		position: absolute;
		right: 99px;
		bottom: -50px;
		width: 100px;
	}
	.wrapper{
		@include styleGrid1;
	}
	.container-text{
		text-align: center;
		h2{
			@include styleH4_light;
			em{
				@include styleH4_bold;
			}
		}
	}
	.container-el{
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		margin-top: 45px;
		.el{
			position: relative;
			height: 30px;
			width: calc(100% / 6);
			img{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				max-height: 35px;
				max-width: 90px;
				opacity: 0;
				transition: all 0.75s ease;
				&.active{
					opacity: 1;
				}
			}
		}
	}
}
#section-metier{
	padding: 100px 0px 100px 0px;
	.wrapper{
		@include styleGrid1;
	}
	.container-text{
		text-align: center;
		h2{
			@include styleH2_light;
			em{
				@include styleH2_bold;
			}
			
		}
	}
	.container-el{
		position: relative;
		margin-top: 110px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		&:after{
			content: '';
			position: absolute;
			height: 100%;
			top: 0px;
			left: 50%;
			transform: translateX(-50%);
			width: 1px;
			background-color: $colorMain_4_strong;
		}
		.el{
			width: 40%;
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
			position: relative;
			&:before{
				opacity: 0;
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%) scale(0.9);
				height: 350px;
				width: calc(100% + 220px);
				background-color: rgba(255,255,255,0);	
				box-shadow: 0 9px 30px 0 rgba(206,206,206,0.5);
				transition: all 0.25s ease;
			}
			.icn{
				width: 90px;
				margin-right: 80px;
				img{
					width: 100%;
				}
			}
			.text{
				flex: 1;
				h3{
					@include styleH3_bold;

				}
				p{
					margin-top: 20px;
					@include styleParagraphBig;
					color: $colorMain_5;
				}
				a{
					margin-top: 30px;
					@include styleLink_1;
				}
			}
			&:hover{
				&:before{
					opacity: 1;
					transform: translate(-50%, -50%) scale(1);
				}
				.text{
					a{
						.link-arrow{
							border-color: $colorMain_3_strong;
							background-color: $colorMain_3_strong;
							svg{
								stroke: #FFF;
							}
						}
					}
				}
			}
		}
	}
}
#section-pres{
	position: relative;
	padding-top: 100px;
	padding-bottom: 120px;
	.background{
		position: absolute;
		z-index: 1;
		top: 0px;
		left: 0px;
		height: 100%;
		width: calc((#{$grid_desktop_1} + ((100vw - #{$grid_desktop_1}) / 2)) - 125px);
		background-color: $colorMain_3_strong;
		.obj-1{
			position: absolute;
			right: 0px;
			top: 0px;
			width: 275px;
		}
		.obj-2{
			position: absolute;
			right: 274px;
			top: 390px;
			width: 225px;
		}
	}
	.wrapper{
		@include styleGrid1;
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		align-items: center;
	}
	.container-text{
		width: 475px;
		h2{
			color: #FFF;
			@include styleH3_light;
			em{
				@include styleH3_bold;
			}
		}
		p{
			margin-top: 45px;
			@include styleParagraphMedium;
			color: rgba(255, 255, 255, 0.9);
		}
		a{
			margin-top: 35px;
			@include styleLink_2;
		}
	}
	.container-illu{
		width: 575px;
		position: relative;
		margin-right: 50px;
		.img{
			width: 100%;
		}
		.sk-1{
			width: 100%;
			filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
		}
		.sk-2{
			position: absolute;
			top: 140px;
			right: -30px;
			width: 210px;
			filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
		}
		.sk-3{
			position: absolute;
			bottom: 20%;
			right: 110px;
			height: 70px;
			filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
		}
		.sk-4{
			position: absolute;
			bottom: 10%;
			right: -100px;
			height: 70px;
			filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
		}
	}
}

#section-stats{
	.wrapper{
		@include styleGrid1;
	}
	.container-col{
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		.col{
			width: calc(100% / 3);
			.container-el{
				width: 100%;
				.el{
					position: relative;
					width: 100%;
					h4{
						position: relative;
						z-index: 1;
					}
					p{
						position: relative;
						z-index: 1;
						margin-top: 40px;
						@include styleParagraphBig;
					}
				}
			}
			.el-1{
				border-right: 1px solid $colorMain_4_medium;
				h4{
					@include styleH1_light;	
					color: #FFF;
				}
				p{
					color: #FFF;
				}
				padding-top: 165px;
				padding-bottom: 165px;
				padding-right: 110px;

				&:before{
					content: '';
					right: 0px;
					bottom: 0px;
					position: absolute;
					background-color: $colorMain_1_strong;
					height: 100%;
					width: calc(100% + ((100vw - #{$grid_desktop_1}) / 2));
				}
			}
			.el-3{
				border-bottom: 1px solid $colorMain_4_medium;
				h4{
					@include styleH1_bold;	
				}
				padding-top: 300px;
				padding-bottom: 125px;
				padding-left: 55px;
				padding-right: 55px;
			}
			.el-5{
				border-left: 1px solid $colorMain_4_medium;
				h4{
					@include styleH1_light;	
				}
				padding-top: 220px;
				padding-bottom: 130px;
				padding-left: 110px;
			}
			.el-2{
				border-right: 1px solid $colorMain_4_medium;
				h4{
					@include styleH1_bold;	
				}
				padding-top: 125px;
				padding-bottom: 195px;
				padding-right: 110px;
			}
			.el-4{
				h4{
					@include styleH1_light;		
				}
				padding-top: 125px;
				padding-bottom: 70px;
				padding-left: 55px;
				padding-right: 55px;
			}
			.el-6{
				h4{
					@include styleH1_bold;	
					color: #FFF;	
				}
				p{
					color: #FFF;
				}
				padding-top: 125px;
				padding-bottom: 195px;
				padding-left: 110px;

				&:before{
					content: '';
					left: 0px;
					top: 0px;
					position: absolute;
					background-color: $colorMain_3_strong;
					height: 100%;
					width: calc(100% + ((100vw - #{$grid_desktop_1}) / 2));
				}
			}
		}
	}
	.container-btn{
		margin-top: 65px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		a{
			@include styleButtonBig_2;
		}
	}
}

#section-quotes{
	margin-top: 110px;
	position: relative;
	.wrapper{
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
	}
	.container-img{
		height: 710px;
		width: 580px;
		position: relative;
		img{
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0px;
			left: 0px;
			object-fit: cover;
			&.active{
				transition: all 1000ms cubic-bezier(1.000, 0.005, 0.435, 1.000);
				z-index: 1;
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			}
			&.hide-before{
				clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
			}
			&.hide-after{
				transition: all 1000ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
				opacity: 1;
				clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
			}
			
		}
	}
	.container-quotes{
		width: 580px;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			left: 0px;
			top: 0px;
			width: calc(100% + ((100vw - #{$grid_desktop_1}) / 2));
			height: 100%;
			background-color: $colorMain_1_strong;
		}
		.obj-1{
			position: absolute;
			left: 100px;
			top: 85px;
			width: 70px;
			z-index: 1;
		}
		.container-el{
			height: 710px;
			position: relative;
			z-index: 1;
			.el{
				padding-left: 100px;
				position: absolute;
				top: 0px;
				left: 0px;
				height: 100%;
				width: 100%;
				opacity: 0;
				transition: all 0.5s ease;
				q{
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					@include styleQuote;
					color: #FFF;
				}
				.container-infos{
					position: absolute;
					bottom: 80px;
					padding-left: 50px;
					&:before{
						position: absolute;
						top: 16px;
						left: 0px;
						content: '';
						width: 26px;
						height: 2px;
						background-color: $colorMain_2_medium;
					}
					.name{
						@include styleH4_bold;
						color: #FFF;
					}
					.job{
						@include styleParagraphBig;
						color: #FFF;
					}
				}
				&.active{
					opacity: 1;
				}
			}
		}
		.container-action{
			background-color: #FFF;
			position: relative;
			z-index: 1;
			width: 100%;
			height: 100px;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			.container-link{
				flex: 1;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: center;
				a{
					@include styleLink_1;
				}
			}
			.container-nav{
				display: flex;
				flex-flow: row wrap;
				height: 100%;
				width: 180px;
				background-color: $colorMain_1_strong;
				.nav{
					cursor: pointer;
					width: 50%;
					height: 100%;
					position: relative;
					transition: all 0.25s ease;
					svg{
						position: absolute;
						top: 50%;
						left: 50%;
						stroke: #FFF;
						width: 16px;
						transition: all 0.25s ease;
					}
					&.prev{
						svg{
							transform: translate(-50%, -50%) rotate(180deg);
						}
					}
					&.next{
						svg{
							transform: translate(-50%, -50%);
						}
					}
					&:hover{
						background-color: #FFF;
						svg{
							stroke: $colorMain_1_strong;
						}
					}
				}
			}
		}
	}
}

#section-features{
	margin-top: 110px;
	.wrapper{
		@include styleGrid1;
		position: relative;
	}
	.container-text{
		h2{
			@include styleH2_light;
			em{
				@include styleH2_bold;
			}
		}
	}
	.container-ftr{
		margin-top: 50px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		position: relative;
		.container-el{
			width: 450px;
			.el{
				position: relative;
				padding-bottom: 24px;
				padding-top: 24px;
				transition: all 1000ms cubic-bezier(0.090, 0.840, 0.315, 0.975);
				.head{
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					h3{
						@include styleH4_bold;
						cursor: pointer;
						transition: all 0.25s ease;
					}
					&:hover{
						color: $colorMain_1_strong;
					}
				}
				.text{
					opacity: 0;
					transition: all 0.15s ease;
					position: absolute;
					left: 0px;
					top: 100%;
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					justify-content: space-between;
					padding-left: 50px;
					&:after{
						content:'';
						position: absolute;
						left: 0px;
						top: 0px;
						width: 1px;
						height: 100%;
						transform: scaleY(0);
						transition: all 1s ease;
					}
					>p{
						@include styleParagraphMedium;
						color: $colorMain_5;
					}
					.container-ps{
						margin-top: 25px;
						position: relative;
						p{
							@include styleParagraphMedium;
							font-family: $font_1_semibold;
							color: $colorMain_3_strong;
						}
					}
					.container-line{
						position: absolute;
						top: 0px;
						left: 0px;
						height: 100%;
						width: 1px;
						background-color: rgba(109,114,120,0.18);
						.line{
							position: absolute;
							top: 0px;
							height: 100%;
							left: 50%;
							width: 3px;
							background-color: $colorMain_1_strong;
							transform: translateX(-50%) scaleY(0);
							transform-origin: top center;

						}
					}
				}
				
				&:nth-child(1){
					padding-top: 0px;
				}
				&.active{
					.head{
						h3{
							color: $colorMain_3_strong;
						}
					}
					.text{
						opacity: 1;
						transition: all 0.75s ease;
							
						&:after{
							transform: scaleY(1);
						}
						.container-line{
							.line{
								transition: all 10s linear;
								transform: translateX(-50%) scaleY(1);
							}
						}
					}
				}
			}
		}
		.container-img{
			height: 482px;	
			width: 574px;
			position: relative;
			.img{
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				opacity: 0;
				transition: all 0.25s ease;
				text-align: center;
				img{
					width: 100%;
					box-shadow: 0 2px 50px 0 rgba(0,0,0,0.09);
				}
				&.active{
					opacity: 1;
				}
				a{
					margin-top: 50px;
					@include styleLink_1;
				}
			}
		}
	}
}
#common-section-banner{
	margin-top: 300px;
}


@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){}


@media screen and (max-width: $breakPoint_mobile){
	main{
		padding-top: 75px;
	}
	#section-cover{
		padding-top: 40px;
		.wrapper{
			padding-bottom: 40px;
		}
		.container-text{
			width: 100%;
		}
		.container-video{
			display: none;
		}
	}
	#section-logos{
		padding: 60px 0px 40px 0px;
		.obj-3,
		.obj-4{
			display: none;
		}
		.container-el{
			.el{
				width: calc(100% / 3);
				margin-bottom: 30px;
			}
		}
	}

	#section-metier{
		padding: 60px 0px 60px 0px;
		.container-el{
			margin-top: 40px;
			&:after{
				display: none;
			}
			.el{
				&:before{
					content: initial;
				}
				width: 100%;
				&:nth-child(1){
					margin-bottom: 60px;
				}
				.icn{
					width: 40px;
					margin-right: 20px;
				}
			}
		}
	}

	#section-pres{
		padding: 60px 0px 60px 0px;

		.container-illu{
			width: 100%;
			margin-top: 40px;
		}
	}

	#section-stats{
		padding: 60px 0px 60px 0px;
		.container-col{
			.col{
				width: 100%;
				.container-el{
					.el{
						padding: 20px 0px 20px 0px;
						border: none;
						&:before{
							content: initial;
						}
					}
					.el-1,
					.el-6{
						h4,
						p{
							color: initial;
						}
					}
				}
			}
		}
	}

	#section-quotes{
		.container-img{
			height: 400px;
		}
	}

	#section-quotes{
		margin-top: 40px;
		.wrapper{
			display: block;
		}
		.container-img{
			height: 400px;
			width: calc(100% + 50px);
			margin-left: -25px;
		}
		.container-quotes{
			width: 100%;
			margin-top: 40px;
			.obj-1{
				display: none;
			}
			.container-el{
				height: initial;
				.el{
					height: initial;
					display: none;
					top: initial;
					left: initial;
					position: relative;
					padding-left: 0px;
					q{
						position: relative;
						top: initial;
						transform: translateY(0px);
						color: $colorMain_3_strong;
					}
					&.active{
						display: block;
					}
					.container-infos{
						margin-top: 40px;
						position: relative;
						bottom: initial;
						.name{
							color: $colorMain_3_strong;
						}
						.job{
							color: $colorMain_3_strong;
						}
					}
				}
			}
			.container-action{
				margin-top: 40px;
				height: initial;
				display: block;
				.container-link{
					width: 100%;
					margin-bottom: 40px;
				}
				.container-nav{
					height: 60px;
					width: 120px;
				}
			}
		}
	}
	
	#section-features{
		margin-top: 0px;
		padding: 60px 0px 60px 0px;
		.container-ftr{
			flex-direction: column;
			.container-el{
				order: 2;
				width: 100%;
				.el{
					padding-left: 25px;
					padding-bottom: 0px;
					.text{
						height: 0px;
						position: initial;
						top: initial;
						padding-left: 0px;
						
						margin-top: 0px;
					}
					&.active{
						.text{
							height: initial;
							margin-top: 25px;
						}
					}
				}
			}
			.container-img{
				order: 1;
				width: 100%;
				height: 350px;
				margin-bottom: 0px;
				.img{
					img{
						height: 200px;
						width: 100%;
						object-fit: cover;
					}
				}
				
			}
		}
	}

	#common-section-banner{
		margin-top: 20px;
	}
}	
/*====================================
=            END PAGE HOME           =
=====================================*/