@import 'common.scss';
/*=================================
=            PAGE PRESS           =
=================================*/

main{
	padding-top: 130px;
}

#section-cover{
	position: relative;
	.wrapper{
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
	}
	.container-text {
		width: 575px;
		h1{
			width: 100%;
			@include styleH1_light;
			span{
				display: block;
				@include styleH1_bold;
			}
		}
		p {
			margin-top: 40px;
			@include styleParagraphBig;
			width: calc(100% - 50px);
		}
		.container-quotes{
			padding: 70px 60px;
			margin-top: 70px;
			width: 100%;
			height: 590px;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
				background-color: $colorMain_3_strong;
			}
			.obj-1{
				position: relative;
				z-index: 1;
				width: 70px;
				height: 50px;
			}
			h3 {
				margin-top: 50px;
				position: relative;
				z-index: 1;
				@include styleH4_bold;
				color: #FFF;
				width: calc(100% - 100px);
			}
			q{
				display: inline-block;
				margin-top: 30px;
				position: relative;
				z-index: 1;
				@include styleQuote;
				color: #FFF;
			}
			.container-logo {
				position: relative;
				z-index: 1;
				margin-top: 65px;
				display: flex;
				align-items: center;
				.logo {
					height: 25px;
					img {
						max-width: 180px;
						max-height: 100%;
					}
					&:nth-child(2) {
						position: relative;
						margin-left: 30px;
						&:before {
							content: " ";
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							left: -17.5px;
							width: 5px;
							height: 2px;
							background-color: #FFF;
						}
					}
				}
			}
		}
	}
	.container-img{
		height: 790px;
		width: 575px;
		img{
			position: relative;
			height: 100%;
			width: 100%;
			top: 0px;
			left: 0px;
			object-fit: cover;
		}
	}
}

.common-section-pdf {
	position: relative;
	padding-top: 70px;
	padding-bottom: 140px;
	.obj-1 {
		position: absolute;
		top: -90px;
		right: 0;
		width: 130px;
		height: 300px;
	}
	.obj-2 {
		position: absolute;
		top: -30px;
		right: 128px;
		width: 130px;
		height: 180px;	
	}
	.wrapper {
		@include styleGrid3;
	}
	h2 {
		position: relative;
		z-index: 1;
		text-align: center;
		@include styleH2_light;	
		span {
			@include styleH2_bold;
		}
	}
	.container-el {
		padding-top: 120px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.el {
			position: relative;
			&:nth-last-child(1n + 3) {
				margin-bottom: 140px;
			}
			&:before {
				position: absolute;
				top: 0;
				left: -125px;
				width: 1px;
				height: 100%;
				background-color: rgba($colorMain_5, .29);
			}
			&:nth-child(even) {
				&:before {
					content: " ";
				}
			}
			width: 380px;
			.container-logo {
				position: relative;
				z-index: 1;
				margin-top: 65px;
				display: flex;
				align-items: center;
				.logo {
					height: 25px;
					img {
						max-width: 150px;
						max-height: 100%;
					}
					&:nth-child(2) {
						position: relative;
						margin-left: 30px;
						&:before {
							content: " ";
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							left: -17.5px;
							width: 5px;
							height: 2px;
							background-color: #000;
						}
					}
				}
			}
			h3 {
				margin-top: 50px;
				@include styleH4_bold;
			}
			q {
				display: inline-block;
				margin-top: 15px;
				@include styleParagraphBig;
				color: $colorMain_5;
			}
			a {
				cursor: pointer;
				margin-top: 50px;
				display: flex;
				align-items: center;
				width: fit-content;
				text-decoration: none;
				color: #000;
				.btn-text {
					@include styleH4_bold;
					font-size: 20px;
					line-height: 22px;
					background-color: none;
					border: none;
					outline: none;
					margin-right: 20px;
				}
				.link-arrow {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 32px;
					height: 32px;
					background-color: #FFF;
					border: 1.5px solid $colorMain_1_strong;
					svg {
						width: 9px;
						height: 15px;
						stroke: $colorMain_1_strong;
					}
				}
				&:hover {
					.link-arrow {
						background-color: $colorMain_1_strong;
						svg {
							stroke: #FFF;
						}
					}
				}
			}
		}
	}
	.container-btn {
		margin-top: 100px;
		display: flex;
		justify-content: center;
		width: 100%;
		a {
			@include styleButtonBig_2;
		}
	}
}

@media screen and (max-width: $breakPoint_mobile) {

	#section-cover {
		.container-text {
			.container-quotes {
				padding: 50px 25px;
				margin-top: 30px;
				height: auto;
			}
		}
		.container-img {
			margin-top: 25px;
			height: 400px;
		}
	}

	.common-section-pdf {
		padding-top: 100px;
		.obj-1 {
			top: -50px;
		}
		.obj-2 {
			top: 15px;
		}
		.container-el {
			padding-top: 75px;
			.el {
				width: 100%;
				&:nth-last-child(1n + 2) {
					margin-bottom: 120px;
				}
				&:not(:first-child) {
					&:before {
						content: " ";
						height: 1px;
						width: 100%;
						left: 0;
						top: -60px;
					}
				}
			}
		}
	}

}

/*=====================================
=            END PAGE PRESS           =
======================================*/