@import 'common.scss';

/*====================================
=            PAGE SERVICES           =
====================================*/

main{
	padding-top: 90px;
}
#section-cover{
	position: relative;
	.wrapper{
		padding-top: 85px;
		padding-bottom: 85px;
		@include styleGrid1;
		position: relative;
		z-index: 1;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: calc((#{$grid_desktop_1} + ((100vw - #{$grid_desktop_1}) / 2)) - 400px);
		background-color: $colorMain_3_strong;
	}
	.container-text{
		position: relative;
		z-index: 1;
		width: 510px;
		h1{
			@include styleH1_light;
			color: #FFF;
			em{
				@include styleH1_bold;
			}
			margin-bottom: 30px;
		}
		.sep{
			width: 60px;
			height: 4px;
			background-color: $colorMain_2_medium;
			margin-bottom: 30px;
		}
		p{
			@include styleParagraphBig;
			color: rgba(255, 255, 255, 0.9);
			margin-bottom: 60px;
		}
		a{
			@include styleButtonBig_2;
		}
	}
	.container-img{
		height: 560px;	
		width: 375px;
		position: absolute;
		bottom: -125px;
		right: 0px;
		img{
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	.obj-1{
		position: absolute;
		right: 400px;
		bottom: -125px;
		height: 400px;
	}
	.obj-2{
		position: absolute;
		right: 575px;
		bottom: 0px;
		height: 442px;
	}
}
#section-features{
	margin-top: 225px;
	.wrapper{
		@include styleGrid1;
	}
	.container-text{
		width: 750px;
		margin: auto;
		text-align: center;
		h2{
			@include styleH2_light;
			em{
				@include styleH2_bold;
			}
		}
	}
	.container-col{
		margin-top: 100px;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		position: relative;
		.col{
			width: 50%;
			&:nth-child(1){
				padding-right: 110px;
			}
			&:nth-child(2){
				padding-top: 40px;
				padding-left: 110px;
			}
			&:after{
				content: '';
				position: absolute;
				left: 50%;
				top: 0px;
				height: 100%;
				width: 1px;
				transform: translateX(-50%);
				background-color: $colorMain_4_medium;
			}
			.container-el{
				.el{
					display: flex;
					flex-flow: row wrap;
					align-items: flex-start;
					&:nth-child(1){
						border-bottom: 1px solid $colorMain_4_medium;
					}
					.icn{
						margin-right: 50px;
						width: 52px;
						img{
							width: 100%;
						}
					}
					.text{
						flex: 1;
						h3{
							@include styleH3_light;
							em{
								@include styleH3_bold;
							}
						}
						p{
							margin-top: 16px;
							@include styleParagraphMedium;
							color: $colorMain_5;
						}
					}
				}
				.el-1{
					padding-bottom: 70px;
					padding-left: 100px;
				}
				.el-2{
					padding-top: 70px;
					padding-left: 100px;
				}
				.el-3{
					padding-bottom: 70px;
					padding-right: 100px;
				}
				.el-4{
					padding-top: 70px;
					padding-right: 100px;
				}
			}
		}
	}
}

#section-services{
	margin-top: 230px;
	
	position: relative;
	&:before{
		content: '';
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: calc((#{$grid_desktop_1} + ((100vw - #{$grid_desktop_1}) / 2)) - 200px);
		background-color: $colorMain_1_strong;
	}
	.wrapper{
		@include styleGrid1;
		position: relative;
		z-index: 1;
	}
	.container-text{
		padding: 210px 0px 185px 0px;
		width: 500px;
		h2{
			position: relative;
			@include styleH2_light;
			color: #FFF;
			em{
				@include styleH2_bold;
			}
		}
		p{
			margin-top: 24px;
			@include styleParagraphBig;
			color: $colorMain_4_strong;
		}
		.container-actions{
			margin-top: 40px;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;
			.btn{
				@include styleButtonBig_1;
			}
			.link{
				@include styleLink_2;
			}
		}
	}
	.container-img{
		position: absolute;
		z-index: 1;
		right: 0px;
		bottom: 0px;
		height: 620px;	
		width: 476px;
		img{
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	.obj-1{
		position: absolute;
		right: 200px;
		top: 0px;
		width: 230px;
	}
	.obj-2{
		position: absolute;
		right: 430px;
		top: -120px;
		width: 230px;
	}
}

#section-quote{
	margin-top: 315px;
	position: relative;
	.wrapper{
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
	}
	.container-img{
		height: 710px;
		width: 580px;
		position: relative;
		img{
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0px;
			left: 0px;
			object-fit: cover;
		}
	}
	.container-quote{
		width: 580px;
		position: relative;
		padding-left: 100px;
		.obj-1{
			width: 70px;
			z-index: 1;
		}
		.container-el{
			margin-top: 55px;
			position: relative;
			z-index: 1;
			.el{
				position: relative;
				q{
					@include styleQuote;
					color: $colorMain_3_strong;
				}
				.container-infos{
					margin-top: 65px;
					position: relative;
					padding-left: 50px;
					&:before{
						position: absolute;
						top: 16px;
						left: 0px;
						content: '';
						width: 26px;
						height: 2px;
						background-color: $colorMain_1_strong;
					}
					.name{
						@include styleH4_bold;
						color: $colorMain_3_strong;
					}
					.job{
						@include styleParagraphBig;
						color: rgba($colorMain_3_strong, 0.8);
					}
				}
			}
		}
	}
}

#section-demo{
	margin-top: 150px;
	position: relative;
	background-color: $colorMain_2_strong;
	padding: 95px 0px 70px 0px;
	.obj-1{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 130px;
	}
	.obj-3{
		position: absolute;
		left: 130px;
		top: 0px;
		width: 130px;
	}

	.obj-2{
		position: absolute;
		right: 0px;
		bottom: 0px;
		width: 110px;
	}
	.obj-4{
		position: absolute;
		right: 110px;
		bottom: 0px;
		width: 130px;
	}
	.wrapper{
		position: relative;
		@include styleGrid1;
	}
	.container-text{
		max-width: 730px;
		margin: auto;
		text-align: center;
		h2{
			@include styleH2_light;
			em{
				@include styleH2_bold;
			}
		}
	}
	.container-btn{
		margin-top: 32px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		a{
			@include styleButtonBig_1;
		}
	}
}

@media screen and (max-width: $breakPoint_tablet){
	main{
		padding-top: 75px;
	}
	#section-cover{

		&:before{
			width: 100%;
		}
		.wrapper{
			padding-bottom: 0px;
		}
		.container-text{
			width: 100%;
			padding-left: 0px;
		}
		.container-img{
			margin-top: 40px;
			position: relative;
			left: initial;
			bottom: initial;
			width: calc(100% + 50px);
			margin-left: -25px;
			height: 350px;
		}

		.obj-1{
			display: none;
		}
	}

	#section-features{
		margin-top: 60px;
		.container-text{
			width: 100%;
		}
		.container-col{
			.col{
				width: 100%;
				&:after{
					content: initial;
				}
				&:nth-child(1),
				&:nth-child(2){
					padding: 0px;
				}
				.container-el{
					.el{
						width: 100%;
						padding: 0px;
						border: none;
					}
					.el-1,
					.el-2,
					.el-3,
					.el-4{
						margin-bottom: 40px;
						padding: 0px;
						padding-bottom: 40px;
						border-right: none;
						border-top: 0px;
						border-left: 0px;
					}
					.el-1, 
					.el-2, 
					.el-3{
						border-bottom: 1px solid #E7E7E7;
					}
				}
			}
		}
	}

	#section-services{
		margin-top: 0px;
		padding: 60px 0px 60px 0px;
		.obj-1{
			display: none;
		}
		.obj-2{
			display: none;
		}
		.container-text{
			width: 100%;
			padding: 0px;
			.container-actions{
				.link{
					margin-top: 40px;
				}
			}
		}
		.container-img{
			display: none;
		}
	}

	#section-quote{
		margin-top: 40px;
		.wrapper{
			display: block;
		}
		.container-img{
			height: 400px;
			width: calc(100% + 50px);
			margin-left: -25px;
		}
		.container-quote{
			width: 100%;
			margin-top: 40px;
			padding-left: 0px;
			.obj-1{
				display: none;
			}
			.container-el{
				height: initial;
				.el{
					height: initial;
					top: initial;
					left: initial;
					position: relative;
					
					q{
						position: relative;
						top: initial;
						transform: translateY(0px);
						color: $colorMain_3_strong;
					}
					.container-infos{
						margin-top: 40px;
						position: relative;
						bottom: initial;
						.name{
							color: $colorMain_3_strong;
						}
						.job{
							color: $colorMain_3_strong;
						}
					}
				}
			}
			.container-action{
				margin-top: 40px;
				display: block;
				.container-link{
					width: 100%;
					margin-bottom: 40px;
				}
			}
		}
	}

	#section-demo{
		margin-top: 80px;
		.obj-1, 
		.obj-2, 
		.obj-3, 
		.obj-4{
			width: 90px;
		}

		.obj-3{
			left: 90px;
		}
		.obj-4{
			right: 90px;
		}
	}

}


/*========================================
=            END PAGE SERVICES           =
========================================*/