@import 'common.scss';
/*====================================
=            PAGE SOLUTION           =
====================================*/

main{
	padding-top: 90px;
}
#section-cover{
	position: relative;
	.wrapper{
		padding-top: 85px;
		padding-bottom: 85px;
		@include styleGrid1;
		position: relative;
		z-index: 1;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0px;
		height: 100%;
		background-color: $colorMain_1_strong;
	}
	.container-text{
		position: relative;
		z-index: 1;
		.title{
			position: relative;
			padding-left: 45px;
			margin-bottom: 60px;
			&:after{
				content: '';
				position: absolute;
				top: 50%;
				left: 0px;
				transform: translateY(-50%);
				width: 30px;
				height: 3px;
				background-color: $colorMain_2_medium;
			}
			span{
				@include styleParagraphMedium;
				font-family: $font_1_semibold;
				color: #FFF;
			}
		}
		h1{
			@include styleH1_light;
			color: #FFF;
			em{
				@include styleH1_bold;
			}
			margin-bottom: 30px;
		}
		p{
			@include styleParagraphBig;
			color: rgba(255, 255, 255, 0.9);
			margin-bottom: 60px;
		}
		a{
			@include styleButtonBig_1;
		}
	}
	.container-img{
		height: 560px;	
		width: 375px;
		position: absolute;
		bottom: -125px;
		img{
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	.obj-1{
		position: absolute;
		bottom: 0px;
		width: 175px;
	}
	.obj-2{
		position: absolute;
		bottom: 0px;
		height: 100%;
	}

	&.reach{
		.container-text{
			h1.wrapLine{
				@for $i from 1 to 20 {
					>span:nth-child(#{$i}) {
						transition-delay: $i * 0.1s; 
					}
				}
			}
			p.wrapLine{
				@for $i from 1 to 20 {
					>span:nth-child(#{$i}) {
						transition-delay: 0.2s + $i * 0.1s; 
					}
				}
			}
		}
	}
}

#section-features{
	margin-top: 230px;
	position: relative;
	.wrapper{
		@include styleGrid1;
		>.container-text{
			width: 750px;
			margin: auto;
			text-align: center;
			h2{
				@include styleH2_light;
				em{
					@include styleH2_bold;
				}
			}
		}
	}
	
	.container-features{
		margin-top: 105px;
		.feature{
			position: relative;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;
			&:not(:last-child){
				margin-bottom: 140px;
			}
			.container-illu{
				width: 570px;
				height: 400px;
				position: relative;
				z-index: 1;
				.img{
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
			.container-text{
				width: 475px;
				position: relative;
				z-index: 1;
				
				h3{
					margin-bottom: 15px;
					@include styleH3_light;
					em{
						@include styleH3_bold;
					}
				}
				p{
					@include styleParagraphBig;
					color: $colorMain_5;
				}
				ul{
					list-style: none;
					margin-top: 35px;
					li{
						position: relative;
						
						&:not(:last-child){
							margin-bottom: 15px;
						}
						&:before{
							content: '';
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							height: 2px;
							width: 20px;
							background-color: $colorMain_1_strong;
						}
						a{
							text-decoration: none;
							@include styleParagraphBig;
							font-family: $font_1_semibold;
							color: $colorMain_3_strong;
							transition: all 0.25s ease;
						}
						&:hover{
							a{
								color: $colorMain_1_strong;
							}
						}
					}
				}
			}

			&:nth-child(odd){
				.container-illu{
					order: 1;
				}
				.container-text{
					order: 2;
					text-align: left;
					margin-left: auto;
					ul{
						li{
							padding-left: 40px;
							&:before{
								left: 0px;
							}
						}
					}
				}
			}
			&:nth-child(even){
				.container-illu{
					order: 2;
				}
				.container-text{
					order: 1;
					text-align: right;
					margin-right: auto;
					ul{
						li{
							padding-right: 40px;
							&:before{
								right: 0px;
							}
						}
					}
				}
			}

			&.higlight{
				margin: 300px 0px 200px 0px;
				padding: 110px 0px 81px 0px;
				.container-text{
					p{
						color: $colorMain_3_strong;
					}
				}
				.container-background{
					position: absolute;
					top: 0px;
					height: 100%;
					width: calc((#{$grid_desktop_1} + ((100vw - #{$grid_desktop_1}) / 2)) - 140px);
					background-color: $colorMain_2_strong;
				}
				.obj-1{
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					width: 230px;
				}
				.obj-2{
					position: absolute;
					width: 230px;
				}
			}

			&.reach{
				.container-text{
					p.wrapLine{
						@for $i from 1 to 20 {
							>span:nth-child(#{$i}) {
								transition-delay: 0.2s + $i * 0.1s; 
							}
						}
					}
				}
			}
		}
	}

	.wrapper{
		>.container-text{
			&.reach{
				h2{
					@for $i from 1 to 20 {
						>span:nth-child(#{$i}) {
							transition-delay: 0.1s + $i * 0.1s; 
						}
					}
				}
			}
		}
	}
}

#section-quotes{
	margin-top: 180px;
	position: relative;
	.wrapper{
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
	}
	.container-img{
		height: 710px;
		width: 580px;
		position: relative;
		img{
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0px;
			left: 0px;
			object-fit: cover;
			&.active{
				transition: all 1000ms cubic-bezier(1.000, 0.005, 0.435, 1.000);
				z-index: 1;
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			}
			&.hide-before{
				clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
			}
			&.hide-after{
				transition: all 1000ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
				opacity: 1;
				clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
			}
			
		}
	}
	.container-quotes{
		width: 580px;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			left: 0px;
			top: 0px;
			width: calc(100% + ((100vw - #{$grid_desktop_1}) / 2));
			height: 100%;
			background-color: $colorMain_3_strong;
		}
		.obj-1{
			display: block;
			position: absolute;
			left: 100px;
			top: 85px;
			width: 70px;
			z-index: 1;
		}
		.container-el{
			height: 710px;
			position: relative;
			z-index: 1;
			.el{
				padding-left: 100px;
				position: absolute;
				top: 0px;
				left: 0px;
				height: 100%;
				width: 100%;
				transition: all 0.5s ease;
				.quote{
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					q{
						display: block;
						&:before{
							content: "";
						}
						&:after{
							content: "";
						}
						@include styleQuote;
						color: #FFF;
					}
				}
				
				.container-infos{
					width: 250px;
					position: absolute;
					bottom: 60px;
					padding-left: 50px;
					&:before{
						position: absolute;
						top: 16px;
						left: 0px;
						content: '';
						width: 26px;
						height: 2px;
						background-color: $colorMain_1_strong;
					}
					.name{
						@include styleH4_bold;
						color: #FFF;
					}
					.job{
						@include styleParagraphBig;
						color: #FFF;
					}
				}
				&.active{
					opacity: 1;
				}
			}
		}
		.container-action{
			background-color: #FFF;
			position: relative;
			z-index: 1;
			width: 100%;
			height: 100px;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			.container-link{
				flex: 1;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: center;
				a{
					@include styleLink_1;
				}
			}
			.container-nav{
				display: flex;
				flex-flow: row wrap;
				height: 100%;
				width: 180px;
				background-color: $colorMain_1_strong;
				.nav{
					cursor: pointer;
					width: 50%;
					height: 100%;
					position: relative;
					transition: all 0.25s ease;
					svg{
						position: absolute;
						top: 50%;
						left: 50%;
						stroke: #FFF;
						width: 16px;
						transition: all 0.25s ease;
					}
					&.prev{
						svg{
							transform: translate(-50%, -50%) rotate(180deg);
						}
					}
					&.next{
						svg{
							transform: translate(-50%, -50%);
						}
					}
					&:hover{
						background-color: #FFF;
						svg{
							stroke: $colorMain_1_strong;
						}
					}
				}
			}
		}
	}

	&.reach{
		.container-quotes{
			.container-el{
				.quote{
					q.wrapLine{
						@for $i from 1 to 20 {
							>span:nth-child(#{$i}) {
								transition-delay: 0.4s + $i * 0.1s; 
							}
						}
					}
				}
			}
		}
	}
}

#section-logos{
	margin-top: 80px;
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	  	overflow: hidden;
	}
	.wrapper{
		position: relative;
	}
	.container-text{
		max-width: 775px;
		text-align: center;
		margin: auto;
		h2{
			@include styleH2_light;
			em{
				@include styleH2_bold
			}
		}
	}
	.container-logos{
		
		margin: auto;
		margin-top: 40px;
		height: 300px;
		width: 100%;
		position: relative;
		display: flex;
		flex-flow: row wrap;
		flex-wrap: nowrap;
		align-items: flex-start;
		img{
			opacity: 0.7;
			display: block;
			height: 100%;
			animation-duration: 40s;
  			animation-name: slideLoop;
  			animation-iteration-count: infinite;
  			animation-timing-function: linear;
		}
		@keyframes slideLoop {
			0% {
				transform: translateX(0%);
			}
			100% {
				transform: translateX(-2474px);
			}
		}

	}

	&.reach{
		.container-text{
			h2.wrapLine{
				@for $i from 1 to 20 {
					>span:nth-child(#{$i}) {
						transition-delay: $i * 0.1s; 
					}
				}
			}
		}
	}
}



@media screen and (max-width: $breakPoint_tablet){
	main{
		padding-top: 75px;
	}

	#section-cover{

		&:before{
			width: 100% !important;
		}
		.wrapper{
			padding-top: 40px;
			padding-bottom: 0px;
		}
		.container-text{
			width: 100% !important;
			padding-left: 0px !important;
		}
		.container-img{
			margin-top: 40px;
			position: relative;
			left: initial;
			bottom: initial;
			width: calc(100% + 50px);
			margin-left: -25px;
			height: 350px;
		}

		.obj-1,
		.obj-2{
			display: none;
		}
	}

	#section-features{
		margin-top: 100px;

		.wrapper{
			>.container-text{
				width: 100%;
			}

		}
		.container-features{
			margin-top: 60px;
			.feature{
				position: relative;
				justify-content: center;
				&:not(:last-child){
					margin-bottom: 60px;
				}
				.container-illu{
					position: relative;
					order: 1;
					width: 300px;
					height: 300px;
				}
				.container-text{
					order: 2;
					width: 100%;
					margin-top: 40px;
				}

				&.higlight{
					margin: 100px 0px 100px 0px;
					.container-background{
						right: -25px;
						left: initial;
						width: calc(100% + 50px);
						.obj-1,
						.obj-2{
							display: none;
						}
					}
				}

				&:nth-child(odd){
					.container-illu{
						order: 1;
						/*
						img{
							left: 0px;
							right: initial;
							transform: translateY(-50%);
						}*/
					}
					&.higlight{
						.container-background{
							left: -25px;
							right: initial;
						}
					}

				}
				&:nth-child(even){
					.container-illu{
						order: 1;
						/*
						img{
							right: 0px;
							left: initial;
							transform: translateY(-50%);
						}*/

					}
					.container-text{
						text-align: left;
					}
					&.higlight{
						.container-background{
							right: -25px;
							left: initial;
						}
					}
				}
			}
		}
	}

	#section-quotes{
		margin-top: 70px;
		.wrapper{
			display: block;
		}
		.container-img{
			height: 400px;
			width: calc(100% + 50px);
			margin-left: -25px;
		}
		.container-quotes{
			padding: 50px 25px;
			width: calc(100% + 50px);
			transform: translateX(-25px);
			&:after{
				width: 100%;
				height: calc(100% - 125px);
			}
			.obj-1{
				position: relative;
				transform: none;
				top: auto;
				left: auto;
			}
			.container-el{
				margin-top: 50px;
				height: initial;
				.el{
					height: initial;
					top: initial;
					left: initial;
					position: relative;
					padding-left: 0px;
					.quote{
						transform: translateY(0px);
						position: relative;
						q{
							display: block;
							
							top: initial;
							text-align: center;
							
						}
					}
					
					&.active{
						display: block;
					}
					.container-infos{
						margin-top: 40px;
						position: relative;
						bottom: initial;
					}
				}
			}
			.container-action{
				margin-top: 40px;
				height: initial;
				display: flex;
				flex-direction: column;
				align-items: center;
				background-color: transparent;
				.container-link{
					order: 2;
					width: 100%;
					margin-top: 120px;
				}
				.container-nav{
					order: 1;
					height: 60px;
					width: 120px;
				}
			}
		}
	}

	#section-logos{
		.container-text{
			padding: 0px 25px 0px 25px;
		}
	}

	#common-section-banner{
		margin-top: 50px;
	}

}

/*========================================
=            END PAGE SOLUTION           =
========================================*/