@import 'solution_common.scss';

#section-cover{
	.container-img{
		right: 0px;
	}
	.obj-1{
		right: 580px;
		@supports (-ms-ime-align: auto) {
			right: 565px;
		}
	}
	.obj-2{
		right: 400px;
		@supports (-ms-ime-align: auto) {
			right: 385px;
		}
	}
	.container-text{
		padding: 0px;
		width: 530px;
	}
}

#section-features{
	.container-features{
		.feature{
			&.higlight{
				.container-background{
					right: calc(0px - ((100vw - #{$grid_desktop_1}) / 2));
				}
				.obj-1{
					top: 25%;
					left: 0px;
				}
				.obj-2{
					left: 230px;
					top: -10%;
				}
			}

			&:nth-child(1){
				.container-illu{
					.sk-1{
						position: absolute;
						width: 260px;
						left: 240px;
						top: 0px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
					.sk-2{
						position: absolute;
						left: 70px;
						top: 130px;
						height: 60px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
					.sk-3{
						position: absolute;
						left: 90px;
						top: 200px;
						height: 60px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
				}
			}

			&:nth-child(2){
				.container-illu{
					.sk-1{
						position: absolute;
						width: 520px;
						right: 0px;
						top: 0px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
					.sk-3{
						position: absolute;
						right: -80px;
						top: 160px;
						height: 80px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
					.sk-2{
						position: absolute;
						right: 50px;
						top: 130px;
						height: 80px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
					.sk-5{
						position: absolute;
						right: -80px;
						top: 280px;
						height: 80px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
					.sk-4{
						position: absolute;
						right: 50px;
						top: 240px;
						height: 80px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
				}
			}

			&:nth-child(3){
				.container-illu{
					.sk-2{
						position: absolute;
						width: 430px;
						left: 100px;
						top: -70px;
					}
					.sk-1{
						position: absolute;
						z-index: 1;
						left: 130px;
						bottom: -50px;
						height: 60px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
				}
			}

			&:nth-child(4){
				.container-illu{
					.sk-1{
						position: absolute;
						height: 100%;
						left: 0px;
						top: 0px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
					.sk-2{
						position: absolute;
						left: 160px;
						bottom: 80px;
						height: 60px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
					.sk-3{
						position: absolute;
						right: 0px;
						top: 40px;
						height: 190px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
				}
			}
		}
	}
}

@media screen and (max-width: $breakPoint_tablet) {

	#section-features{
		.container-features{
			.feature{

				&:nth-child(1){
					.container-illu{
						.sk-1{
							
							width: 200px;
							left: 0px;
							top: 0px;
							bottom: initial;
							
						}
						.sk-2{
							
							left: 140px;
							top: 100px;
							height: 40px;
							
						}
						.sk-3{
							
							left: 140px;
							top: 150px;
							height: 40px;
							
						}
					}
				}

				&:nth-child(2){
					.container-illu{
						.sk-1{
							
							width: 100%;
							right: 0px;
							top: 0px;
							
						}
						.sk-2{
							
							right: 0px;
							top: 70px;
							height: 40px;
							
						}
						.sk-3{
							
							right: 100px;
							top: 110px;
							height: 40px;
							
						}
						.sk-4{
							
							right: 0px;
							top: 180px;
							height: 40px;
							
						}
						.sk-5{
							
							right: 100px;
							top: 200px;
							height: 40px;
							
						}
					}
				}

				&:nth-child(3){
					.container-illu{
						.sk-2{
							
							height: 100%;
							width: initial;
							left: 0px;
							top: 0px;
						}
						.sk-1{
							
							z-index: 1;
							left: 100px;
							bottom: 30px;
							height: 40px;
							
						}
					}
				}

				&:nth-child(4){
					.container-illu{
						.sk-1{
							
							height: 100%;
							left: 0px;
							top: 0px;
							
						}
						.sk-2{
							
							left: 140px;
							bottom: 50px;
							height: 30px;
							
						}
						.sk-3{
							
							right: 0px;
							top: 0px;
							height: 120px;
							
						}
					}
				}
			}
		}
	}
}