@import 'common.scss';
/*=================================
=            PAGE ABOUT           =
=================================*/

main{
	padding-top: 130px;
}

#section-cover{
	position: relative;
	
	.wrapper{
		position: relative;
		@include styleGrid1;
		padding-bottom: 375px;
	}
	.container-text{
		width: 585px;
		h1{
			@include styleH1_light;
			em{
				@include styleH1_bold;
			}
		}
		.sep{
			margin: 50px 0px 50px 0px;
			width: 60px;
			height: 4px;
			background-color: $colorMain_1_strong;
		}
		p{
			max-width: 475px;
			@include styleParagraphBig;
			color: $colorMain_5;
		}
	}
	.container-img{
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		.img{
			position: relative;
			z-index: 1;
			img{
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		.img-1{
			width: 44%;
			height: 300px;
		}
		.img-2{
			width: 19%;
			height: 450px;
			margin-bottom: 110px;
		}
		.img-3{
			width: 31%;
			height: 564px;
			margin-bottom: 110px;
		}
	}
	.obj-1{
		width: 199px;
		position: absolute;
		right: 173px;
		top: 0px;
	}
	.obj-2{
		width: 175px;
		position: absolute;
		right: -1px;
		bottom: 0px;
	}
}

#section-features{
	margin-top: 100px;
	.wrapper{
		@include styleGrid1;
	}
	.container-text{
		width: 750px;
		margin: auto;
		text-align: center;
		h2{
			@include styleH2_light;
			em{
				@include styleH2_bold;
			}
		}
	}
	.container-col{
		margin-top: 100px;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		position: relative;
		.col{
			width: 50%;
			&:nth-child(1){
				padding-right: 110px;
			}
			&:nth-child(2){
				padding-top: 80px;
				padding-left: 110px;
			}
			&:after{
				content: '';
				position: absolute;
				left: 50%;
				top: 0px;
				height: 100%;
				width: 1px;
				transform: translateX(-50%);
				background-color: $colorMain_4_medium;
			}
			.container-el{
				.el{
					display: flex;
					flex-flow: row wrap;
					align-items: flex-start;
					&:nth-child(1){
						border-bottom: 1px solid $colorMain_4_medium;
					}
					.icn{
						margin-right: 50px;
						width: 52px;
						img{
							width: 100%;
						}
					}
					.text{
						flex: 1;
						h3{
							@include styleH3_light;
							em{
								@include styleH3_bold;
							}
						}
						p{
							margin-top: 16px;
							@include styleParagraphMedium;
							color: $colorMain_5;
						}
					}
				}
				.el-1{
					padding-bottom: 70px;
					padding-left: 100px;
				}
				.el-2{
					padding-top: 70px;
					padding-left: 100px;
				}
				.el-3{
					padding-bottom: 70px;
					padding-right: 100px;
				}
				.el-4{
					padding-top: 70px;
					padding-right: 100px;
				}
			}
		}
	}
}

#section-fondateurs{
	margin-top: 140px;
	padding: 75px 0px 95px 0px;
	position: relative;
	.container-background{
		position: absolute;
		left: 0px;
		top: 0px;
		height: 100%;
		/*clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 10%, 80% 10%, 80% 0);*/
		width: calc((#{$grid_desktop_1} + ((100vw - #{$grid_desktop_1}) / 2)));
		background-color: $colorMain_3_strong;
		&:after {
			content: " ";
			position: absolute;
			top: 0;
			right: 0;
			width: 175px;
			height: 55px;
			background-color: #FFFFFF;
		}
	}
	.wrapper{
		@include styleGrid1;
		position: relative;
		z-index: 1;
	}
	.obj-1{
		position: absolute;
		width: 200px;
		right: 175px;
	}
	.obj-2{
		position: absolute;
		width: 175px;
		top: 56px;
		right: 0px;
	}
	.container-text{
		h2{
			@include styleH2_light;
			color: #FFF;
			em{
				@include styleH2_bold;
			}
		}
	}
	.container-el{
		margin-top: 75px;
		padding-right: 95px;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
		.el{
			width: 280px;
			.pp{
				height: 335px;
				img{
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
			.container-infos{
				margin-top: 40px;
				position: relative;
				.name{
					@include styleH4_bold;
					color: #FFF;
				}
				.job{
					padding-left: 40px;
					position: relative;
					@include styleParagraphBig;
					color: #FFF;
					&:before{
						content: '';
						opacity: 0.8;
						position: absolute;
						left: 0px;
						top: 50%;
						left: 0px;
						width: 25px;
						height: 2px;
						background-color: $colorMain_1_strong;
					}
				}
				a{
					position: absolute;
					right: 0px;
					top: 0px;
					transition: all 0.25s ease;
					img{
						width: 20px;
					}
					&:hover{
						opacity: 0.6;
					}
				}
			}
			p{
				margin-top: 35px;
				@include styleParagraphMedium;
				color: rgba(255, 255, 255, 0.8);
			}
		}
	}
}

#section-stats{
	.wrapper{
		@include styleGrid1;
	}
	.container-col{
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		.col{
			width: calc(100% / 3);
			.container-el{
				width: 100%;
				.el{
					position: relative;
					width: 100%;
					h4{
						position: relative;
						z-index: 1;
					}
					p{
						position: relative;
						z-index: 1;
						margin-top: 40px;
						@include styleParagraphBig;
					}
				}
			}
			.el-1{
				border-right: 1px solid $colorMain_4_medium;
				h4{
					@include styleH1_light;	
					color: #FFF;
				}
				p{
					color: #FFF;
				}
				padding-top: 110px;
				padding-bottom: 110px;
				padding-right: 110px;

				&:before{
					content: '';
					right: 0px;
					bottom: 0px;
					position: absolute;
					background-color: $colorMain_1_strong;
					height: 100%;
					width: calc(100% + ((100vw - #{$grid_desktop_1}) / 2));
				}
			}
			.el-3{
				border-bottom: 1px solid $colorMain_4_medium;
				h4{
					@include styleH1_bold;	
				}
				padding-top: 200px;
				padding-bottom: 125px;
				padding-left: 55px;
				padding-right: 55px;
			}
			.el-5{
				border-left: 1px solid $colorMain_4_medium;
				border-bottom: 1px solid $colorMain_4_medium;
				h4{
					@include styleH1_light;	
				}
				padding-top: 120px;
				padding-bottom: 130px;
				padding-left: 110px;
			}
			.el-2{
				border-right: 1px solid $colorMain_4_medium;
				h4{
					@include styleH1_bold;	
				}
				padding-top: 125px;
				padding-bottom: 195px;
				padding-right: 110px;
			}
			.el-4{
				h4{
					@include styleH1_light;		
				}
				padding-top: 125px;
				padding-bottom: 70px;
				padding-left: 55px;
				padding-right: 55px;
			}
			.el-6{
				border-left: 1px solid $colorMain_4_medium;
				h4{
					@include styleH1_bold;		
				}
				padding-top: 125px;
				padding-bottom: 195px;
				padding-left: 110px;
			}
		}
	}
}

@media screen and (max-width: $breakPoint_tablet){
	main{
		padding-top: 75px;
	}

	#section-cover{
		.wrapper{
			padding-top: 40px;
			padding-bottom: 0px;
		}
		.container-text{
			width: 100%;
		}
		.container-img{
			position: relative;
			bottom: initial;
			left: initial;
			margin-top: 40px;
			.img-1{
				width: 55%;
			}
			.img-2{
				display: none;
			}
			.img-3{
				height: 400px;
				margin-bottom: 40px;
				width: 40%;
			}
		}
		.obj-1,
		.obj-2{
			display: none;
		}
	}

	#section-features{
		margin-top: 120px;
		.container-text{
			width: 100%;
		}
		.container-col{
			.col{
				width: 100%;
				&:after{
					content: initial;
				}
				&:nth-child(1),
				&:nth-child(2){
					padding: 0px;
				}
				.container-el{
					.el{
						width: 100%;
						padding: 0px;
						border: none;
					}
					.el-1,
					.el-2,
					.el-3,
					.el-4{
						margin-bottom: 40px;
						padding: 0px;
						padding-bottom: 40px;
						border-right: none;
						border-top: 0px;
						border-left: 0px;
					}
					.el-1, 
					.el-2, 
					.el-3{
						border-bottom: 1px solid #E7E7E7;
					}
				}
			}
		}
	}

	#section-fondateurs{
		margin-top: 0px;
		padding: 60px 0px 60px 0px;
		.container-el{
			margin-top: 60px;
			padding-right: 0px;
			.el{
				width: 100%;
				&:not(:last-child){
					margin-bottom: 60px;
				}
			}
		}
	}

	#section-stats{
		padding: 0px;
		.container-col{
			display: block;
			.col{
				width: calc(100% + 100px);
				margin-left: -50px;
				.container-el{
					.el{
						padding: 55px 50px 55px 50px;
						border: none;
						&:before{
							content: initial;
						}
						p {
							margin-top: 20px;
						}
					}
					.el-1{
						background-color: $colorMain_1_strong;
					}
					.el-3,
					.el-5{
						background-color: $colorMain_4_strong;
					}
					.el-6{
						background-color: $colorMain_3_strong;
						h4,
						p{
							color: #FFF;
						}
					}
				}
			}
		}
		.container-btn{
			margin-top: 45px;
		}
	}
}

@media screen and (max-width: $breakPoint_mobile){
	#section-stats{
		.container-col{
			.col{
				width: calc(100% + 50px);
				margin-left: -25px;
				.container-el{
					.el{
						padding: 55px 25px 55px 25px;
					}
				}
			}
		}
	}
}	

/*=====================================
=            END PAGE ABOUT           =
=====================================*/