@import 'common.scss';
/*====================================
=            PAGE SOLUTION           =
====================================*/

main{
	padding-top: 90px;
}

#section-cover{
	position: relative;
	.wrapper{
		padding-top: 100px;
		padding-bottom: 85px;
		@include styleGrid1;
		position: relative;
		z-index: 1;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		height: 100%;
		width: calc((#{$grid_desktop_1} + ((100vw - #{$grid_desktop_1}) / 2)) - 400px);
		background-color: $colorMain_2_strong;
	}
	.container-text{
		width: calc(500px + 700px);
		padding-left: 500px;
		position: relative;
		z-index: 1;
		.title{
			position: relative;
			padding-left: 45px;
			margin-bottom: 60px;
			&:after{
				content: '';
				position: absolute;
				top: 50%;
				left: 0px;
				transform: translateY(-50%);
				width: 30px;
				height: 3px;
				background-color: $colorMain_3_strong;
			}
			span{
				@include styleParagraphMedium;
				font-family: $font_1_semibold;
				color: $colorMain_3_strong;
			}
		}
		h1{
			@include styleH1_light;
			color: $colorMain_3_strong;
			em{
				@include styleH1_bold;
			}
			margin-bottom: 30px;
		}
		p{
			@include styleParagraphBig;
			color: $colorMain_3_strong;
			margin-bottom: 60px;
		}
		a{
			@include styleButtonBig_1;
		}
	}
	.container-img{
		height: 560px;	
		width: 375px;
		position: absolute;
		bottom: -75px;
		left: 0px;
		img{
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	.obj-1{
		position: absolute;
		bottom: 0px;
		width: 175px;
		right: calc(200px - ((100vw - #{$grid_desktop_1}) / 2));
	}
	.obj-2{
		position: absolute;
		bottom: 0px;
		height: 100%;
		right: calc(0px - ((100vw - #{$grid_desktop_1}) / 2));
	}
}

#section-features{
	margin-top: 230px;
	position: relative;
	.wrapper{
		@include styleGrid1;
		>.container-text{
			width: 750px;
			margin: auto;
			text-align: center;
			h2{
				@include styleH2_light;
				em{
					@include styleH2_bold;
				}
			}
		}
	}
	
	.container-features{
		margin-top: 105px;
		.feature{
			position: relative;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			&:not(:last-child){
				margin-bottom: 140px;
			}
			.container-illu{
				position: relative;
				z-index: 1;
				width: 580px;
				height: 380px;
				.img{
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
			.container-text{
				width: 475px;
				position: relative;
				z-index: 1;
				
				h3{
					margin-bottom: 30px;
					@include styleH3_light;
					em{
						@include styleH3_bold;
					}
				}
				p{
					@include styleParagraphBig;
					color: $colorMain_5;
				}
				ul{
					list-style: none;
					margin-top: 35px;
					li{
						position: relative;
						
						&:not(:last-child){
							margin-bottom: 15px;
						}
						&:before{
							content: '';
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							height: 2px;
							width: 20px;
							background-color: $colorMain_1_strong;
						}
						a{
							text-decoration: none;
							@include styleParagraphBig;
							font-family: $font_1_semibold;
							color: $colorMain_3_strong;
							transition: all 0.25s ease;
						}
						&:hover{
							a{
								color: $colorMain_1_strong;
							}
						}
					}
				}
			}

			&:nth-child(odd){
				.container-illu{
					order: 1;
				}
				.container-text{
					order: 2;
					text-align: left;
					margin-left: auto;
					ul{
						li{
							padding-left: 40px;
							&:before{
								left: 0px;
							}
						}
					}
				}
			}
			&:nth-child(even){
				.container-illu{
					order: 2;
				}
				.container-text{
					order: 1;
					text-align: right;
					margin-right: auto;
					ul{
						li{
							padding-right: 40px;
							&:before{
								right: 0px;
							}
						}
					}
				}
			}

			&.higlight{
				margin: 200px 0px 200px 0px;
				padding: 70px 0px 70px 0px;
				.container-background{
					left: calc(0px - ((100vw - #{$grid_desktop_1}) / 2));
					position: absolute;
					top: 0px;
					height: 100%;
					width: calc((#{$grid_desktop_1} + ((100vw - #{$grid_desktop_1}) / 2)) - 150px);
					background-color: $colorMain_1_strong;
				}
				.obj-1{
					right: 228px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					width: 230px;
				}
				.obj-2{
					right: 0px;
					top: 50%;
					position: absolute;
					width: 230px;
				}
				.container-text{
					h3{
						color: #FFF;
					}
					p{
						color: #FFF;
					}
				}
			}
		}
	}

	&.feature-1{
		.container-features{
			.feature{
				&:nth-child(1){
					.container-illu{
						.sk-1{
							position: absolute;
							height: 100%;
							left: 0px;
							top: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));

						}
						.sk-2{
							position: absolute;
							right: 150px;
							top: 40px;
							width: 100px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-3{
							position: absolute;
							right: 0px;
							top: 80px;
							width: 100px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-4{
							position: absolute;
							right: 30px;
							bottom: 0px;
							width: 185px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
				&:nth-child(2){
					.container-illu{
						.sk-1{
							position: absolute;
							width: 520px;
							left: 0px;
							top: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
				&:nth-child(3){
					.container-illu{
						.sk-1{
							position: absolute;
							width: 520px;
							right: 0px;
							top: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-2{
							position: absolute;
							left: 0px;
							bottom: 90px;
							height: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-3{
							position: absolute;
							left: -70px;
							bottom: 10px;
							height: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
				&:nth-child(4){
					.container-illu{
						.sk-1{
							position: absolute;
							width: 205px;
							left: 100px;
							bottom: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-2{
							position: absolute;
							right: 0px;
							top: 120px;
							height: 120px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-3{
							position: absolute;
							right: 140px;
							bottom: 70px;
							height: 100px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-4{
							position: absolute;
							right: 125px;
							top: 0px;
							height: 150px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-5{
							position: absolute;
							left: 70px;
							top: 50px;
							height: 90px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
			}
		}
	}

	&.feature-2{
		.container-features{
			.feature{
				&:nth-child(1){
					.container-illu{
						.sk-1{
							position: absolute;
							width: 520px;
							left: 0px;
							top: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-2{
							position: absolute;
							right: 0px;
							bottom: 100px;
							height: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-3{
							position: absolute;
							right: 40px;
							bottom: 30px;
							height: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
				&:nth-child(2){
					.container-illu{
						.sk-1{
							position: absolute;
							width: 100%;
							left: 0px;
							bottom: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
				&:nth-child(3){
					.container-illu{
						.sk-1{
							position: absolute;
							width: 100%;
							left: 0px;
							top: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-2{
							position: absolute;
							right: -20px;
							bottom: 20px;
							height: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
			}
		}
	}

	&.feature-3{
		.container-features{
			.feature{
				&:nth-child(1){
					.container-illu{
						.sk-1{
							position: absolute;
							width: 260px;
							left: 120px;
							top: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-2{
							position: absolute;
							left:390px;
							top: 80px;
							height: 80px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-3{
							position: absolute;
							left: 220px;
							bottom: 140px;
							height: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-4{
							position: absolute;
							left: 290px;
							bottom: 60px;
							height: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-5{
							position: absolute;
							left: 40px;
							bottom: 100px;
							height: 80px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
				&:nth-child(2){
					.container-illu{
						.sk-1{
							position: absolute;
							width: 260px;
							top: 0px;
							right: 140px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-2{
							position: absolute;
							right: 270px;
							top: 130px;
							height: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-3{
							position: absolute;
							right: 270px;
						    top: 200px;
						    height: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-4{
							position: absolute;
							right: 40px;
							bottom: 60px;
							height: 90px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}



					}
				}
				&:nth-child(3){
					.container-illu{
						.sk-1{
							position: absolute;
							width: 300px;
							right: 0px;
							top: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-2{
							position: absolute;
							left: 0px;
							bottom: 0px;
							width: 260px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-3{
							position: absolute;
							left: 185px;
							bottom: 65px;
							height: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
				&:nth-child(4){
					.container-illu{
						.sk-1{
							position: absolute;
							width: 261px;
							right: 60px;
							top: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-2{
							position: absolute;
							right: 220px;
							bottom: 200px;
							height: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-3{
							position: absolute;
							right: 150px;
							bottom: 125px;
							height: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
			}
		}
	}

	&.feature-4{
		.container-features{
			.feature{
				&:nth-child(1){
					.container-illu{
						.sk-1{
							position: absolute;
							width: 530px;
							left: 0px;
							top: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-2{
							position: absolute;
							left: 330px;
							bottom: 45px;
							height: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
				&:nth-child(2){
					.container-illu{
						.sk-1{
							position: absolute;
							width: 520px;
							top: 0px;
							right: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-2{
							position: absolute;
							right: 240px;
							top: 140px;
							height: 140px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-3{
							position: absolute;
							right: 290px;
							top: 280px;
							height: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
				&:nth-child(3){
					.container-illu{
						.sk-1{
							position: absolute;
							width: 520px;
							right: 0px;
							top: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
				&:nth-child(4){
					.container-illu{
						.sk-2{
							position: absolute;
							width: 261px;
							right: 0px;
							top: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-1{
							position: absolute;
							left: 0px;
							top: 0px;
							width: 261px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-3{
							position: absolute;
							top: 120px;
							right: 120px;
							height: 140px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-4{
							position: absolute;
							right: 90px;
							top: 50px;
							height: 80px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-5{
							position: absolute;
							left: 90px;
							bottom: 55px;
							height: 80px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
			}
		}
	}

	&.feature-5{
		.container-features{
			.feature{
				&:nth-child(1){
					.container-illu{
						.sk-1{
							position: absolute;
							width: 260px;
							left: 30px;
							top: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-2{
							position: absolute;
							left: 190px;
							top: 95px;
							height: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-3{
							position: absolute;
							left: 300px;
							bottom: 40px;
							width: 230px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
				&:nth-child(2){
					.container-illu{
						.sk-1{
							position: absolute;
							width: 520px;
							top: 0px;
							right: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
				&:nth-child(3){
					.container-illu{
						.sk-1{
							position: absolute;
							height: 100%;
							left: 100px;
							top: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-2{
							position: absolute;
							height: 60px;
							left: 340px;
							top: 110px;
						}
						.sk-3{
							position: absolute;
							height: 60px;
							left: 340px;
							top: 190px;
						}

					}
				}
				&:nth-child(4){
					.container-illu{
						.sk-1{
							position: absolute;
							right: 0px;
							top: 30px;
							width: 460px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-2{
							position: absolute;
							width: 75px;
							left: 20px;
							top: 100px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-3{
							position: absolute;
							top: 220px;
							left: 0px;
							height: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-4{
							position: absolute;
							right: 190px;
							top: 0px;
							height: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
			}
		}
	}

	&.feature-6{
		.container-features{
			.feature{
				&:nth-child(1){
					.container-illu{
						.sk-1{
							position: absolute;
							width: 520px;
							left: 0px;
							top: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-2{
							position: absolute;
							left: 320px;
							top: 205px;
							height: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
				&:nth-child(2){
					.container-illu{
						.sk-1{
							position: absolute;
							width: 520px;
							top: 0px;
							right: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-2{
							position: absolute;
							left: 320px;
							top: 205px;
							height: 60px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
				&:nth-child(3){
					.container-illu{
						.sk-1{
							position: absolute;
							z-index: 1;
							height: 60px;
							left: 120px;
							top: 200px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-2{
							position: absolute;
							height: 150px;
							left: 350px;
							top: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}
						.sk-3{
							position: absolute;
							width: 250px;
							left: 40px;
							top: 0px;
							filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
						}

					}
				}
			}
		}
	}
}

#section-pres{
	margin-top: 140px;
	position: relative;
	.wrapper{
		@include styleGrid3;
	}
	.container-text{
		text-align: center;
		h2{
			@include styleH2_light;
			em{
				@include styleH2_bold;
			}
		}
	}
	.container-el{
		margin-top: 100px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		.el{
			width: 380px;
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
			&:not(:last-child){
				padding-bottom: 100px;
				border-bottom: 1px solid rgba(109,114,120,0.29);
			}
			&:nth-child(2){
				margin-top: 115px;
			}
			&:nth-child(3){
				margin-left: 230px;
			}
			.icn{
				width: 55px;
				height: 70px;
				position: relative;
				margin-right: 50px;
				img{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					max-height: 100%;
					max-width: 100%;
				}
			}
			.text{
				flex: 1;
				h4{
					@include styleH3_light;
					em{
						@include styleH3_bold;
					}
				}
				p{
					margin-top: 15px;
					@include styleParagraphMedium;
					color: $colorMain_5;
				}
			}
		}
	}
}

#section-quotes{
	margin-top: 180px;
	position: relative;
	.wrapper{
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
	}
	.container-img{
		height: 710px;
		width: 580px;
		position: relative;
		img{
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0px;
			left: 0px;
			object-fit: cover;
			&.active{
				transition: all 1000ms cubic-bezier(1.000, 0.005, 0.435, 1.000);
				z-index: 1;
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			}
			&.hide-before{
				clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
			}
			&.hide-after{
				transition: all 1000ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
				opacity: 1;
				clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
			}
			
		}
	}
	.container-quotes{
		width: 580px;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			left: 0px;
			top: 0px;
			width: calc(100% + ((100vw - #{$grid_desktop_1}) / 2));
			height: 100%;
			background-color: $colorMain_1_strong;
		}
		.obj-1{
			position: absolute;
			left: 100px;
			top: 85px;
			width: 70px;
			z-index: 1;
		}
		.container-el{
			height: 710px;
			position: relative;
			z-index: 1;
			.el{
				padding-left: 100px;
				position: absolute;
				top: 0px;
				left: 0px;
				height: 100%;
				width: 100%;
				transition: all 0.5s ease;
				q{
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					@include styleQuote;
					color: #FFF;
				}
				.container-infos{
					position: absolute;
					bottom: 60px;
					padding-left: 50px;
					&:before{
						position: absolute;
						top: 16px;
						left: 0px;
						content: '';
						width: 26px;
						height: 2px;
						background-color: $colorMain_2_medium;
					}
					.name{
						@include styleH4_bold;
						color: #FFF;
					}
					.job{
						@include styleParagraphBig;
						color: #FFF;
					}
				}
				&.active{
					opacity: 1;
				}
			}
		}
		.container-action{
			background-color: #FFF;
			position: relative;
			z-index: 1;
			width: 100%;
			height: 100px;
			display: flex;
			flex-flow: row wrap;
			padding-left: 100px;
			.container-link{
				flex: 1;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				a{
					@include styleLink_1;
				}
			}
			.container-nav{
				display: flex;
				flex-flow: row wrap;
				height: 100%;
				width: 180px;
				background-color: $colorMain_1_strong;
				.nav{
					cursor: pointer;
					width: 50%;
					height: 100%;
					position: relative;
					transition: all 0.25s ease;
					svg{
						position: absolute;
						top: 50%;
						left: 50%;
						stroke: #FFF;
						width: 16px;
						transition: all 0.25s ease;
					}
					&.prev{
						svg{
							transform: translate(-50%, -50%) rotate(180deg);
						}
					}
					&.next{
						svg{
							transform: translate(-50%, -50%);
						}
					}
					&:hover{
						background-color: #FFF;
						svg{
							stroke: $colorMain_1_strong;
						}
					}
				}
			}
		}
	}
}

#common-section-join{
	margin-top: 140px;
}


@media screen and (max-width: $breakPoint_mobile){
	main{
		padding-top: 75px;
	}
	#section-cover{

		&:before{
			width: 100%;
		}
		.wrapper{
			padding-bottom: 0px;
		}
		.container-text{
			width: 100%;
			padding-left: 0px;
		}
		.container-img{
			margin-top: 40px;
			position: relative;
			left: initial;
			bottom: initial;
			width: calc(100% + 50px);
			margin-left: -25px;
			height: 350px;
		}
	}

	#section-features{
		margin-top: 100px;

		.wrapper{
			>.container-text{
				width: 100%;
			}
		}
		

		.container-features{
			margin-top: 60px;
			.feature{
				position: relative;
				&:not(:last-child){
					margin-bottom: 60px;
				}
				.container-illu{
					position: relative;
					order: 1;
					width: 100%;
					height: 300px;
				}
				.container-text{
					order: 2;
					margin-top: 40px;
				}

				&.higlight{
					margin: 100px 0px 100px 0px;
					.container-background{
						left: 0;
					}
				}

				&:nth-child(odd){
					.container-illu{
						order: 1;
						/*
						img{
							left: 0px;
							right: initial;
							transform: translateY(-50%);
						}*/
					}
				}
				&:nth-child(even){
					.container-illu{
						order: 1;
						/*
						img{
							right: 0px;
							left: initial;
							transform: translateY(-50%);
						}*/
					}
				}
			}
		}

		&.feature-1{
			.container-features{
				.feature{
					&:nth-child(1){
						.container-illu{
							.sk-1{
								
								height: 100%;
								left: 0px;
								top: 0px;
								

							}
							.sk-2{
								
								right: 100px;
								top: 0px;
								width: 80px;
								
							}
							.sk-3{
								
								right: 0px;
								top: 80px;
								width: 80px;
								
							}
							.sk-4{
								
								right: 0px;
								bottom: 0px;
								width: 125px;
								
							}

						}
					}
					&:nth-child(2){
						.container-illu{
							.sk-1{
								width: 100%;		
							}

						}
					}
					&:nth-child(3){
						.container-illu{
							.sk-1{
								
								width: 100%;
								
							}
							.sk-2{
								
								left: 30px;
								bottom: 110px;
								height: 40px;
								
							}
							.sk-3{
								
								left: 0px;
								bottom: 50px;
								height: 40px;
								
							}

						}
					}
					&:nth-child(4){
						.container-illu{
							.sk-1{
								
								width: 120px;
								left: 0px;
								bottom: 0px;
								
							}
							.sk-2{
								
								right: 0px;
								top: 120px;
								height: 90px;
								
							}
							.sk-3{
								
								right: 90px;
								bottom: 70px;
								height: 80px;
								
							}
							.sk-4{
								
								right: 100px;
								top: 0px;
								height: 140px;
								
							}
							.sk-5{
								
								left: 0px;
								top: 50px;
								height: 70px;
								
							}

						}
					}
				}
			}
		}

		&.feature-2{
			.container-features{
				.feature{
					&:nth-child(1){
						.container-illu{
							.sk-1{
								
								width: 100%;
								left: 0px;
								top: 0px;
								
							}
							.sk-2{
								
								right: 0px;
								bottom: 130px;
								height: 40px;
								
							}
							.sk-3{
								
								right: 40px;
								bottom: 70px;
								height: 40px;
								
							}

						}
					}
					&:nth-child(2){
						.container-illu{
							.sk-1{
								
								width: 100%;
								
							}

						}
					}
					&:nth-child(3){
						.container-illu{
							.sk-1{
								
								width: 100%;
								left: 0px;
								top: 0px;
								
							}
							.sk-2{
								
								right: -20px;
								bottom: 60px;
								height: 40px;
								
							}

						}
					}
				}
			}
		}

		&.feature-3{
			.container-features{
				.feature{
					&:nth-child(1){
						.container-illu{
							.sk-1{
								
								width: initial;
								height: 100%;
								left: 0px;
								top: 0px;
								
							}
							.sk-2{
								
								left:60px;
								top: 80px;
								height: 40px;
								
							}
							.sk-3{
								
								left: 150px;
								bottom: 110px;
								height: 40px;
								
							}
							.sk-4{
								
								left: 150px;
								bottom: 50px;
								height: 40px;
								
							}
							.sk-5{
								
								left: 40px;
								bottom: 120px;
								height: 40px;
								
							}

						}
					}
					&:nth-child(2){
						.container-illu{
							.sk-1{
								
								width: initial;
								height: 100%;
								top: 0px;
								right: initial;
								left: -1px;
								
							}
							.sk-2{
								
								right: 0px;
								top: 130px;
								height: 40px;
								
							}
							.sk-3{
								
								right: 0px;
							    top: 180px;
							    height: 40px;
								
							}
							.sk-4{
								
								right: initial;
								left: 40px;
								bottom: 30px;
								height: 70px;
								
							}



						}
					}
					&:nth-child(3){
						.container-illu{
							.sk-1{
								
								width: 200px;
								right: 0px;
								top: 60px;
								z-index: 1;
								
							}
							.sk-2{
								
								left: 0px;
								bottom: 0px;
								width: initial;
								height: 100%;
								
							}
							.sk-3{
								
								left: 185px;
								bottom: 65px;
								height: 40px;
								
							}

						}
					}
					&:nth-child(4){
						.container-illu{
							.sk-1{
								
								width: initial;
								height: 100%;
								right: 60px;
								top: 0px;
								
							}
							.sk-2{
								
								right: initial;
								left: 120px;
								bottom: 180px;
								height: 40px;
								
							}
							.sk-3{
								
								right: initial;
								left: 120px;
								bottom: 125px;
								height: 40px;
								
							}

						}
					}
				}
			}
		}

		&.feature-4{
			.container-features{
				.feature{
					&:nth-child(1){
						.container-illu{
							.sk-1{
								
								width: 100%;
								left: 0px;
								top: 0px;
								
							}
							.sk-2{
								
								left: 150px;
								bottom: 45px;
								height: 40px;
								
							}

						}
					}
					&:nth-child(2){
						.container-illu{
							.sk-1{
								
								width: 100%;
								top: 0px;
								right: 0px;
								
							}
							.sk-2{
								
								right: initial;
								top: 140px;
								height: 100px;
								left: 40px;
								
							}
							.sk-3{
								
								right: initial;
								top: 220px;
								height: 40px;
								left: 40px;
								
							}

						}
					}
					&:nth-child(3){
						.container-illu{
							.sk-1{
								
								width: 100%;
								right: 0px;
								top: 0px;
								
							}

						}
					}
					&:nth-child(4){
						.container-illu{
							.sk-2{
								
								width: initial;
								height: 100%;
								right: 0px;
								top: 0px;
								
							}
							.sk-1{
								
								left: 0px;
								top: 0px;
								width: initial;
								height: 100%;
								
							}
							.sk-3{
								
								top: 120px;
								right: 120px;
								height: 100px;
								
							}
							.sk-4{
								
								right: 90px;
								top: 50px;
								height: 40px;
								
							}
							.sk-5{
								
								left: 90px;
								bottom: 55px;
								height: 40px;
								
							}

						}
					}
				}
			}
		}

		&.feature-5{
			.container-features{
				.feature{
					&:nth-child(1){
						.container-illu{
							.sk-1{
								
								width: initial;
								height: 100%;
								left: 30px;
								top: 0px;
								
							}
							.sk-2{
								
								left: 80px;
								top: 95px;
								height: 40px;
								
							}
							.sk-3{
								
								left: 200px;
								bottom: 40px;
								width: 130px;
								
							}

						}
					}
					&:nth-child(2){
						.container-illu{
							.sk-1{
								
								width: 100%;
								top: 0px;
								right: 0px;
								
							}

						}
					}
					&:nth-child(3){
						.container-illu{
							.sk-1{
								
								height: 100%;
								left: 0px;
								top: 0px;
								
							}
							.sk-2{
								
								height: 40px;
								left: 170px;
								top: 100px;
							}
							.sk-3{
								
								height: 40px;
								left: 170px;
								top: 180px;
							}

						}
					}
					&:nth-child(4){
						.container-illu{
							.sk-1{
								
								right: 0px;
								top: 30px;
								width: 100%;
								
							}
							.sk-2{
								
								width: 75px;
								left: -10px;
								top: 100px;
								
							}
							.sk-3{
								
								top: 220px;
								left: 130px;
								height: 40px;
								
							}
							.sk-4{
								
								right: initial;
								left: 130px;
								top: 0px;
								height: 40px;
								
							}

						}
					}
				}
			}
		}

		&.feature-6{
			.container-features{
				.feature{
					&:nth-child(1){
						.container-illu{
							.sk-1{
								
								width: 100%;
								left: 0px;
								top: 0px;
								
							}
							.sk-2{
								
								left: 160px;
								top: 205px;
								height: 40px;
								
							}

						}
					}
					&:nth-child(2){
						.container-illu{
							.sk-1{
								
								width: 100%;
								top: 0px;
								right: 0px;
								
							}
							.sk-2{
								
								left: 160px;
								top: 205px;
								height: 40px;
								
							}

						}
					}
					&:nth-child(3){
						.container-illu{
							.sk-1{
								
								z-index: 1;
								height: 40px;
								left: 120px;
								top: 200px;
								
							}
							.sk-2{
								
								height: 100px;
								left: 160px;
								top: 0px;
								z-index: 1;
								
							}
							.sk-3{
								
								width: initial;
								height: 100%;
								left: 0px;
								top: 0px;
								
							}

						}
					}
				}
			}
		}
	}

	#section-pres{
		.container-el{
			.el{
				&:nth-child(1){
					padding-bottom: 60px;
				}
				&:nth-child(2){
					margin-top: 60px;
					padding-bottom: 60px;
				}
				&:nth-child(3){
					margin-top: 60px;
					margin-left: 0px;
				}
			}
		}
	}

	#section-quotes{
		margin-top: 40px;
		.wrapper{
			display: block;
		}
		.container-img{
			height: 400px;
			width: calc(100% + 50px);
			margin-left: -25px;
		}
		.container-quotes{
			width: 100%;
			margin-top: 40px;
			.obj-1{
				display: none;
			}
			.container-el{
				height: initial;
				.el{
					height: initial;
					top: initial;
					left: initial;
					position: relative;
					padding-left: 0px;
					q{
						position: relative;
						top: initial;
						transform: translateY(0px);
						color: $colorMain_3_strong;
					}
					.container-infos{
						margin-top: 40px;
						position: relative;
						bottom: initial;
						.name{
							color: $colorMain_3_strong;
						}
						.job{
							color: $colorMain_3_strong;
						}
					}
				}
			}
			.container-action{
				margin-top: 40px;
				display: block;
				padding-left: 0px;
				justify-content: center;
				.container-link{
					width: 100%;
					margin-bottom: 40px;
					justify-content: center;
				}
			}
		}
	}

	#common-section-join{
		margin-top: 60px;
	}

}	

/*========================================
=            END PAGE SOLUTION           =
========================================*/