footer{
	background-color: $colorMain_3_strong;
	padding: 50px 0px 0px 0px;
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	   overflow: hidden;
	}
	.wrapper{
		@include styleGrid1;
	}
	.container-link{
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;

		.container-logo {
			.logo {
				img{
					width: 135px;
				}
			}
			h5 {
				margin-top: 15px;
				@include styleParagraphBig;
				color: #FFF;
			}
		}
		ul{
			list-style: none;
			li{
				transition: all 0.25s ease;
				a{
					text-decoration: none;
				}

				&:first-child{
					a{
						display: inline-block;
						@include styleParagraphMedium;
						color: #FFF;
						font-family: $font_1_semibold;
						margin-bottom: 14px;
					}
					
				}
				&:not(:first-child){
					a{
						@include styleParagraphSmall;
						color: rgba(255, 255, 255, 0.7);

					}
					&:hover{
						opacity: 0.6;
					}
					
				}

			}
		}
	}

	.foot{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		border-top: 1px solid #6D7278;
		margin-top: 30px;
		padding: 30px 0px 30px 0px;

		.container-lg {
			position: relative;
			.lg {
				cursor: pointer;
				display: flex;
				align-items: center;
				img {
					width: 22px;
					height: 16px;
					margin-right: 15px;
				}
				span {
					@include styleParagraphMedium;
					margin-right: 25px;
					color: rgba(255, 255, 255, 0.7);
				}
				svg {
					stroke: #FFF;
					width: 6px;
					height: 4px;
					transition: all .25s ease;
				}
			}
			.dropdown {
				position: absolute;
				padding: 11px 11px 11px 25px;
				display: none;
				left: 50%;
				transform: translateX(-50%);
				bottom: calc(100% + 24px);
				box-shadow: 0 23px 40px 0 rgba(0,7,16,0);
				background-color: #FFF;
				.lg {
					text-decoration: none;
					transition: all 0.25s ease;
					&:first-child {
						margin-bottom: 12px;
					}
					span{
						@include styleParagraphMedium;
						color: #000;
					}
					&:hover{
						opacity: 0.8;
					}
				}
			}
			&.active {
				.lg svg {
					transform: rotateZ(180deg);
				}
				.dropdown {
					display: block;
				}
			}
		}

		.container-cdr{
			flex: 1;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-around;
			a{
				text-decoration: none;
				@include styleParagraphTiny;
				color: rgba(255, 255, 255, 0.7);
				transition: all 0.25s ease;

				&:hover{
					opacity: 0.7;
				}
			}
		}

		.container-share{
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			a{
				text-decoration: none;
				display: block;
				transition: all 0.25s ease;
				&:not(:last-child){
					margin-right: 16px;
				}
				img{
					height: 16px;

				}
				&:hover{
					opacity: 0.7;
				}
			}
		}
	}

	@media screen and (max-width: $breakPoint_tablet){

		.container-link{
			justify-content: space-between;
			.logo{
				width: 100%;
				text-align: center;
				margin-bottom: 30px;
				img{
					width: 150px;
				}
			}
			ul{
				width: 45%;
				margin-bottom: 30px;
			}
		}
		.foot{
			.container-lg,
			.container-cdr,
			.container-share{
				width: 100%;
			}

			.container-lg{
				margin-bottom: 30px;
				.lg{
					text-align: center;
					justify-content: center;
				}
			}
			.container-cdr{
				margin-bottom: 30px;
			}

			.container-share{
				justify-content: center;
			}
		}
	}
}