@import 'solution_common.scss';

#section-cover{
	&:before{
		right: 0px;
	}
	.container-text{
		width: calc(500px + 700px);
		padding-left: 500px;
	}
	.container-img{
		left: 0px;
	}
	.obj-1{
		right: calc(183px - ((100vw - #{$grid_desktop_1}) / 2));
	}
	.obj-2{
		right: calc(0px - ((100vw - #{$grid_desktop_1}) / 2));
	}
}

#section-features{
	.container-features{
		.feature{
			&.higlight{
				.container-background{
					left: calc(0px - ((100vw - #{$grid_desktop_1}) / 2));
				}
				.obj-1{
					right: 230px;
				}
				.obj-2{
					right: 0px;
					top: 50%;
				}
			}

			&:nth-child(1){
				.container-illu{
					.sk-1{
						position: absolute;
						width: 260px;
						left: 150px;
						top: 0px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
					.sk-2{
						position: absolute;
						left: 35px;
						top: 150px;
						height: 60px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
					.sk-3{
						position: absolute;
						left: 0px;
						top: 220px;
						height: 60px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
					.sk-4{
						position: absolute;
						right: 80px;
						bottom: 80px;
						width: 180px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
				}
			}

			&:nth-child(2){
				.container-illu{
					.sk-1{
						position: absolute;
						width: 430px;
						left: 0px;
						top: -80px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
					.sk-2{
						position: absolute;
						z-index: 1;
						left: 30px;
						bottom: -40px;
						height: 60px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
					
				}
			}

			&:nth-child(3){
				.container-illu{
					.sk-1{
						position: absolute;
						width: 260px;
						left: 100px;
						top: 0px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
					.sk-2{
						position: absolute;
						right: 65px;
						top: 220px;
						height: 60px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
					.sk-3{
						position: absolute;
						right: 150px;
						top: 140px;
						height: 60px;
						filter: drop-shadow(1px 21px 27px rgba(0,0,0,0.09));
					}
				}
			}
		}
	}
}

@media screen and (max-width: $breakPoint_tablet) {
	#section-cover{
		.container-text{
			padding-left: 0px;
		}
	}
	#section-features{
		.container-features{
			.feature{

				&:nth-child(1){
					.container-illu{
						.sk-1{
							
							width: initial;
							height: 100%;
							left: 0px;
							top: 0px;
						}
						.sk-2{
							
							left: 80px;
							top: 100px;
							height: 40px;
						}
						.sk-3{
							
							left: 80px;
							top: 150px;
							height: 40px;
						}
						.sk-4{
							
							right: initial;
							left: 180px;
							bottom: 20px;
							width: 120px;
						}
					}
				}

				&:nth-child(2){
					.container-illu{
						.sk-1{
							
							width: initial;
							height: 100%;
							left: 0px;
							top: 0px;
						}
						.sk-2{
							
							z-index: 1;
							left: 100px;
							bottom: 30px;
							height: 40px;
						}
						
					}
				}

				&:nth-child(3){
					.container-illu{
						.sk-1{
							
							width: initial;
							height: 100%;
							right: 0px;
							top: 0px;
						}
						.sk-2{
							
							right: 120px;
							top: 190px;
							height: 40px;
						}
						.sk-3{
							
							right: 120px;
							top: 130px;
							height: 40px;
						}
					}
				}
			}
		}
	}
}